@model mmria.common.couchdb.ConfigurationSet
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="The Pregnancy Mortality Surveillance System (PMSS) is a public health software tool created to collect, store, analyze and summarize information relevant to maternal deaths. The PMSS serves 2 purposes: first to provide complete, detailed, and organized medical and social information that can be used by medical review committees to investigate individual maternal deaths; and second to provide a standardized cumulative database for future research and analysis on maternal mortality.">
<title>Pregnancy Mortality Surveillance System | Public Health | PMSS - Recover Case</title>
<script src="./scripts/jquery-3.1.1.min.js"></script>
<script src="./scripts/mmria.js"></script>
<script src="./scripts/recover-deleted-case/index.js"></script>
<script>

const g_jurisdiction_list = [];
@foreach (var item in Model.detail_list)
{
    @if(item.Key != "vital_import")
    {
        @Html.Raw($"\ng_jurisdiction_list.push(\"{item.Key}\");");
    }
}

</script>
</head>
<body>
<a href="/home">home</a><br/>
<h1>recover deleted case</h1>
<div id="output">

</div>
  <a href="/home">home</a><br/>

</body>
</html>
