.fd-initial-cloaked{display:none}.resize-drag{padding:10px;border:1px solid gray;display:inline-block}.ds-selected{outline:3px solid black;color:black}#fd-canvas-heads-up-display-wrapper #ui-spec-selector-container{padding:0}#fd-canvas-heads-up-display-wrapper #ui-spec-delete-modify-container{display:none}#fd-canvas-heads-up-display-wrapper #local-rev-container{padding:12px;background:gray;color:white;float:right}#form-list-container{display:none;padding:8px}#form-list-container .form-list-item{padding:10px;margin-bottom:10px;white-space:normal}#specModal .modal-dialog{max-width:60%}.form-designer-wrapper{height:80vh;padding:15px;border:1px solid gray;overflow-y:scroll;background:#fff;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0.1em, rgba(242, 242, 242, 0.5)), color-stop(0.1em, transparent)), -webkit-gradient(linear, left top, right top, color-stop(0.1em, rgba(242, 242, 242, 0.5)), color-stop(0.1em, transparent));background-image:-webkit-linear-gradient(rgba(242, 242, 242, 0.5) 0.1em, transparent 0.1em), -webkit-linear-gradient(left, rgba(242, 242, 242, 0.5) 0.1em, transparent 0.1em);background-image:-o-linear-gradient(rgba(242, 242, 242, 0.5) 0.1em, transparent 0.1em), -o-linear-gradient(left, rgba(242, 242, 242, 0.5) 0.1em, transparent 0.1em);background-image:linear-gradient(rgba(242, 242, 242, 0.5) 0.1em, transparent 0.1em), linear-gradient(90deg, rgba(242, 242, 242, 0.5) 0.1em, transparent 0.1em);background-size:2em 2em}.form-designer-wrapper .form-designer-canvas{width:100%;height:1800%;padding:8px;overflow-y:auto;position:relative}.form-designer-wrapper .form-designer-canvas #alert-select-formtype{display:none}.form-designer-wrapper .form-designer-canvas .form-group-wrapper{display:inline-block}.form-designer-wrapper .form-designer-canvas .form-field-item{padding:15px;border:1px solid lightgray;margin-bottom:10px;margin-right:10px}.form-designer-wrapper .form-designer-canvas label.form-field-item,.form-designer-wrapper .form-designer-canvas label.resize-drag{border:none}.form-designer-wrapper .form-designer-canvas label.form-field-item:hover,.form-designer-wrapper .form-designer-canvas label.resize-drag:hover{padding:15px;border:1px solid lightgray;cursor:-webkit-grab;cursor:grab}.form-designer-wrapper .form-designer-canvas fieldset{margin:10px 10px 15px 0;width:100%;position:relative}.form-designer-wrapper .form-designer-canvas fieldset legend{width:auto;padding:0 10px 10px 10px 10px}.form-designer-wrapper .form-designer-canvas fieldset.list-fieldset{background:#fff}.form-designer-wrapper .form-designer-canvas select{background-color:white;width:auto}







.form-designer-wrapper {
    border: 2px solid;
    border-color: #009688;
    background-image:
        linear-gradient(rgba(0, 0, 0, .1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 0, 0, .1) 1px, transparent 1px);
}

.form-designer-alert {
    background-color: rgba(255,255,255,.78);
    /* background-color: #009688; */
    border: 1px solid #009688;
    border-radius: 4px;
    /* color: var(--white); */
    font-weight: 700;
    padding: 12px;
    position: absolute;
}

.grid-control-action-icn 
{
    font-size: 14px;
    font-weight: 700;
    position: absolute;
}

.grid-control-action-btn 
{
    background-color: transparent;
    border: none;
    padding: 0;
}

.grid-control-btn 
{
    box-shadow: 2px 3px 5px rgba(0,0,0,.25);
    bottom: 16px;
    left: 16px;
    position: absolute;
}


/*
    These are custom overrides
*/

.form-designer-btn .material-icons {
    vertical-align: bottom;
}

.form-designer-wrapper .form-designer-canvas label.form-field-item:hover,
.form-designer-wrapper .form-designer-canvas label.resize-drag:hover {
    border: none;
    outline: 1px solid lightgray;
}
.form-designer-wrapper .form-designer-canvas label.form-field-item.ds-selected:hover,
.form-designer-wrapper .form-designer-canvas label.resize-drag.ds-selected:hover {
    outline: 3px solid black;
}

/* Adding borders to legends */
.form-designer-wrapper .form-designer-canvas fieldset legend {
    display: inline-block;
    font-size: 1.25rem !important;
    margin: 0;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    width: auto;
    border: 1px solid;
    border-color: gray;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    background: var(--white);
    top: 0;
    transform: translateY(-50%);
}

.fd-custom-input .bmd-form-group {
    padding-top: 0;
}

.fd-custom-input input {
    height: calc(2.4375rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    border: 1px solid lightgray;
    line-height: 1.5;
    border-radius: 3px;
    outline: none;
}
