@using System.Security.Claims;
@{
  Layout = "_LayoutBase";
  var userName = "";
  if (User.Identities.Any(u => u.IsAuthenticated))
  {
    userName = User.Identities.First(
        u => u.IsAuthenticated && 
        u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value;
  }
}

@section HeadScripts
{
  <script src="../scripts/mmria.js" type="text/javascript"></script>
  <script src="../scripts/metadata-listing/dictionary_renderer.js" type="text/javascript"></script>
  <script src="../scripts/create_default_object.js" type="text/javascript"></script>
  <script src="../scripts/url_monitor.js" type="text/javascript"></script>
  <script src="../scripts/metadata-listing/index.js" type="text/javascript"></script>
  <script>
    var g_uid = '@userName';
  </script>
}

<div class="row">
  <div class="app-content col">

    <h1 class="h2">Metadata Listing</h1>
    <p class="mb-4">This webpage lists, describes, and defines the properties of all fields contained within the MMRIA application database. The metadata webpage is useful for determining field characteristics such as field types and field values. Note that the metadata “name” fields do not correspond to the column names created when you conduct a data export. The data dictionary, including the column names of your exported data, can be found in the exported data file titled “data_dictionary”. This file was previously named “field_mapping”.</p>

    <!--
    <h2 class="h4">Fields for version: {version number}</h2>
    <table class="table">
      <thead class="thead">
        <tr class="tr bg-secondary">
          <th class="th" colspan="3" style="width: 50%">MMRIA Form: <span class="font-weight-normal">home_record</span></th>
          <th class="th" colspan="3" style="width: 50%">Export File: <span class="font-weight-normal">amazing_export_file_name.csv</span></th>
        </tr>
      </thead>
      <thead class="thead">
        <tr class="tr bg-gray-l4">
          <th class="th">Export Field Name</th>
          <th class="th">Prompt</th>
          <th class="th">Description</th>
          <th class="th">Path</th>
          <th class="th">Type</th>
          <th class="th">Calculated</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tr">
          <td class="td">Lorem Ipsum</td>
          <td class="td">First Name</td>
          <td class="td">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
          <td class="td">/home_record/first_name</td>
          <td class="td">string</td>
          <td class="td">no</td>
        </tr>
        <tr class="tr">
          <td class="td"></td>
          <td class="td p-0" colspan="3">
            <table class="table table--plain m-0">
              <thead class="thead">
                <tr class="tr bg-gray-l3">
                  <th class="th" colspan="3">List Values</th>
                </tr>
              </thead>
              <thead class="thead">
                <tr class="tr bg-white">
                  <th class="th" width="30">Value</th>
                  <th class="th">Display</th>
                  <th class="th">Description</th>
                </tr>
              </thead>
              <tbody class="tbody">
                <tr class="tr">
                  <td class="td">9999</th>
                  <td class="td">(blank)</th>
                  <td class="td">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</th>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

        <tr class="tr">
          <td class="td">Lorem Ipsum</td>
          <td class="td">Last Name</td>
          <td class="td">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
          <td class="td">/home_record/first_name</td>
          <td class="td">string</td>
          <td class="td">no</td>
        </tr>
        <tr class="tr">
          <td class="td"></td>
          <td class="td p-0" colspan="3">
            <table class="table table--plain m-0">
              <thead class="thead">
                <tr class="tr bg-gray-l3">
                  <th class="th" colspan="3">List Values</th>
                </tr>
              </thead>
              <thead class="thead">
                <tr class="tr bg-white">
                  <th class="th" width="30">Value</th>
                  <th class="th">Display</th>
                  <th class="th">Description</th>
                </tr>
              </thead>
              <tbody class="tbody">
                <tr class="tr">
                  <td class="td">9999</th>
                  <td class="td">(blank)</th>
                  <td class="td">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</th>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    -->

    <div id="form_content_id"></div>
  
  </div>
</div>
