@using System.Security.Claims;
@{ 
    var userName = "";
    if(User.Identity != null && User.Identity.IsAuthenticated)
    {
        userName = User.Identities.First(
        u => u.IsAuthenticated && 
        u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value;
    }
}
<!DOCTYPE html>
<html lang="en">
<script>
    var g_uid = '@userName';
</script>

<body>
<div>Accounts be rocking!</div>
</body> 
</html>