<html>
<body>
<div>Login Form</div>
@model ApplicationUser
@{
    <form asp-antiforgery="true" asp-controller="Account" asp-action="Login" method="POST">
        User name: <input name="username" type="text" />
        Password: <input name="password" type="password" />
        <input name="submit" value="Login" type="submit" />
        <input type="hidden" name="returnUrl" value="@TempData["returnUrl"]" />
    </form>
}
</body> 
</html>