@page "/"

<h1>Hello, world!</h1>

ToDo: <a href="https://3s3jaq.axshare.com/?code=7f3e8169fa7156dbbd55f8a53bf9c452&id=gma9i6">https://3s3jaq.axshare.com/?code=7f3e8169fa7156dbbd55f8a53bf9c452&id=gma9i6</a>

<h2>Login Input Fields</h2>
<h2>Text input (vertical)</h2>
<h2>Text input (horizontal)</h2>
<h2>Dropdowns (vertical)</h2>
<h2>Dropdowns (horizontal)</h2>
<h2>Links</h2>
<h2>Checkboxes</h2>
<h2>Radio buttons</h2>
<h2>Navigation</h2>

<h2>Headings and Text</h2>
<h2>System Alert Banners</h2>
<h2>Buttons</h2>
<h2>Modals</h2>
<h2>Tables</h2>
<h2>Cards</h2>
<h2>Color Palette</h2>