@using System.Security.Claims;
@{ 
    Layout = "_LayoutBase";
    ViewBag.BreadCrumbs = true;
    ViewBag.Sidebar = false;

    var userName = "";

    if(User.Identity != null && User.Identity.IsAuthenticated)
    {
        userName = User.Identities.First(
        u => u.IsAuthenticated && 
        u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value;
    }
}

@section HeadScripts
{
  <script src="./scripts/mmria.js"></script>
  <script src="./scripts/manage-case-check-outs/index.js"></script>
  <script>
    
@*
    function main()
    {
      //print_node(metadata);
    }
    
    function print_node(p_node)
    {
      console.log(p_node.name);
      console.log(p_node.prompt);
      console.log(p_node.type);

      if(p_node.children)
      {
        for(var i in p_node.children)
        {
          var child = p_node.children[i];
          print_node(child);
        }
      }
    }
*@
  </script>
}

<h1 class="h2 mb-4" tabindex="-1">Manage Case Check Outs</h1>

<div id="output"></div>
