@using System.Security.Claims;
@{ 
    Layout = "_GridLayout"; 
    var is_guest = true;
    var is_abtractor = false;
    var is_authenticated = false;
    var is_committee_member = false;
    var is_form_designer = false;
    var userName = "";
    var is_installation_admin = false;
    var is_jurisdiction_admin = false;
    
    if(User.Identity != null && User.Identity.IsAuthenticated)
    {
        userName = User.Identities.First(
        u => u.IsAuthenticated && 
        u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value;

        foreach(var role in User.Identities.First(u => u.IsAuthenticated &&  u.HasClaim(c => c.Type == ClaimTypes.Name)).Claims.Where(c=> c.Type == ClaimTypes.Role))
        {
            switch(role.Value)
            {
                case "abstractor":
                    is_abtractor = true;
                    is_authenticated = true;
                    is_guest = false;
                    break;
                case "form_designer":
                    is_form_designer = true;
                    is_authenticated = true;
                    is_guest = false;
                    break;
                case "committee_member":
                    is_committee_member = true;
                    is_authenticated = true;
                    is_guest = false;
                    break;
                case "jurisdiction_admin":
                    is_jurisdiction_admin = true;
                    is_authenticated = true;
                    is_guest = false;
                    break;
                case "installation_admin":
                    is_installation_admin = true;
                    is_authenticated = true;
                    is_guest = false;
                    break;
            }
        }
    }
}

<script src="./scripts/index.js" type="text/javascript"> </script>

<script>
    /*
var g_metadata = null;
var default_object = null;

function open_blank_version(p_section)
{


	var blank_window = window.open('./print-version','_blank_version',null,false);

	window.setTimeout(function()
	{
		blank_window.create_print_version(g_metadata, default_object, p_section)
	}, 1000);	
}
*/

function get_metadata()
{
  	$.ajax({
			url: location.protocol + '//' + location.host + '/api/metadata',
	}).done(function(response) {
			g_metadata = response;
      metadata_summary(g_metadata_summary, g_metadata, "g_metadata", 0, 0);
      default_object =  create_default_object(g_metadata, {});
    });
}


</script>

@if (!is_authenticated)
{
    <h1>Index</h1>
}
else
{
    <h1>Select your action:</h1>

    <ul>


    @if(is_abtractor)
    {
        <li>=Abstractor=</li>
        <li><a href="/Case">view case data</a></li>
        <li><a href="/export-queue">export data</a></li>
        //<li><a href="/recover-case">recover-case</a></li>
    }

    @if(is_committee_member)
    {
        <li>=Committee Member=</li>
        <li><a href="/de-identified">view de-identified case data</a></li>
    }


    @if(is_form_designer)
    {
        <li>=Form Designer=</li>
        <li><a href="/editor">open metadata editor</a></li>
        <li><a href="/form-designer">open form designer</a></li>
        <li><a href="/migrationplan">manage a migration plan</a></li>
        <li><a href="/de-identified-list">manage de-identification list</a></li>
    }

    @if(is_jurisdiction_admin && ! is_installation_admin)
    {
        <li>=Jurisdiction Admin=</li>
        <li><a href="/_users">manage users & jurisdictions</a></li>
    }


    @if(is_installation_admin)
    {
        <li>=Installation Admin=</li>
        <li><a href="/_users">manage users & jurisdictions</a></li>
        <li><a href="/_config">view configuration</a></li>
    }
    <li>======================</li>
    <li><a href="/aggregate-report">view aggregate report</a></li>
    <li><a href="/metadata-listing" >show metadata listing</a></li>
    <li>
        <select id="print_blank_version">
            <option value="">(select form to print)</option>
            <option value="All">All</option>
            <option value="home_record">Home Record</option>
            <option value="death_certificate">Death Certificate</option>
            <option value="birth_fetal_death_certificate_parent">Birth/Fetal Death Certificate- Parent Section</option>
            <option value="birth_certificate_infant_fetal_section">Birth/Fetal Death Certificate- Infant/Fetal Section</option>
            <option value="autopsy_report">Autopsy Report</option>
            <option value="prenatal">Prenatal Care Record</option>
            <option value="er_visit_and_hospital_medical_records">ER Visits and Hospitalizations</option>
            <option value="other_medical_office_visits">Other Medical Office Visits</option>
            <option value="medical_transport">Medical Transport</option>
            <option value="social_and_environmental_profile">Social and Environmental Profile</option>
            <option value="mental_health_profile">Mental Health Profile</option>
            <option value="informant_interviews">Informant Interviews</option>
            <option value="case_narrative">Case Narrative</option>
            <option value="committee_review">Committee Decisions</option>
        </select>
        <input type="button"  onclick="var selected_value = document.getElementById('print_blank_version').value; if(selected_value) {open_blank_version(selected_value);}" value="print blank version" />
    </li>
    </ul>




}

