@using System.Security.Claims;
@{ 
    Layout = "_GridLayout"; 
    var is_guest = true;
    var is_abtractor = false;
    var is_authenticated = false;
    var is_committee_member = false;
    var is_form_designer = false;
    var userName = "";
    var is_installation_admin = false;
    var is_jurisdiction_admin = false;
    
    if(User.Identity != null && User.Identity.IsAuthenticated)
    {
        userName = User.Identities.First(
        u => u.IsAuthenticated && 
        u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value;

        foreach(var role in User.Identities.First(u => u.IsAuthenticated &&  u.HasClaim(c => c.Type == ClaimTypes.Name)).Claims.Where(c=> c.Type == ClaimTypes.Role))
        {
            switch(role.Value)
            {
                case "abstractor":
                    is_abtractor = true;
                    is_authenticated = true;
                    is_guest = false;
                    break;
                case "form_designer":
                    is_form_designer = true;
                    is_authenticated = true;
                    is_guest = false;
                    break;
                case "committee_member":
                    is_committee_member = true;
                    is_authenticated = true;
                    is_guest = false;
                    break;
                case "jurisdiction_admin":
                    is_jurisdiction_admin = true;
                    is_authenticated = true;
                    is_guest = false;
                    break;
                case "installation_admin":
                    is_installation_admin = true;
                    is_authenticated = true;
                    is_guest = false;
                    break;
            }
        }
    }
}

@if (!is_authenticated)
{
    <h1>Index</h1>
}
else
{
    <h1>Select your action:</h1>

    <ul>
    <li><a href="/metadata-listing">show metadata listing</a></li>
    <li><a href="/aggregate-report">view aggregate report</a></li>

    @if(is_abtractor)
    {
        <li><a href="/export-queue">export data</a></li>
    }

    @if(is_abtractor || is_committee_member)
    {
        <li><a href="/Case">view case data</a></li>
    }

    @if(is_form_designer)
    {
        <li><a href="/editor">Open form editor</a></li>
    }

    @if(is_jurisdiction_admin || is_installation_admin)
    {
        <li><a href="/jurisdictions">manage jurisidictions</a></li>
        <li><a href="/_users">manage users</a></li>
    }

    <li><a href="/print-version">print blank version</a></li>
    </ul>
}

