<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
	<add key="owin:AppStartup" value="mmria.server.Startup" />
	<add key="geocode_api_key" value="7c39ae93786d4aa3adb806cb66de51b8" />
	<add key="couchdb_url" value="http://localhost:5984" />
	<add key="web_site_url" value="http://localhost:12345" />
  <add key="file_root_folder" value="/vagrant/source-code/scratch/owin/owin/psk/app" />
  <!--add key="file_root_folder" value="C:\work-space-set\mmrds\MMRDS\source-code\scratch\owin\owin\psk\app" />

		 <add key="file_root_folder" value="C:\workspace-set\MMRDS\source-code\scratch\owin\owin\psk\app" /-->
	<add key="is_environment_based" value="false" />


	<!--Email notification-->
    <add key="EMAIL_USE_AUTHENTICATION" value="true"/>
    <add key="EMAIL_USE_SSL" value="true"/>
    <add key="EMAIL_SUBJECT" value="This is the Subject line"/>
    <add key="EMAIL_FROM" value="epiinfowebsurvey@gmail.com"/>
    <add key="EMAIL_PASSWORD" value="ml@et+jh@et+nd@et"/>
    <add key="SMTP_PORT" value="587"/>
    <add key="SMTP_HOST" value="smtp.gmail.com"/>
    <!--Email notification-->



</appSettings>	
<!--- Begin Add to fix Swashbuckle -->
<runtime>
<assemblyBinding>
<!--- Begin Add to fix Swashbuckle -->
<dependentAssembly>
    <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="4.0.0.0" />
</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.1" newVersion="9.0.1.19813" />
      </dependentAssembly>
		
<!--dependentAssembly>
    <assemblyIdentity name="Newtonsoft.json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="9.0.1.0" />
  </dependentAssembly-->
</assemblyBinding>
</runtime>
<!--- End Add to fix Swashbuckle -->
</configuration>
