<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
	<add key="owin:AppStartup" value="mmria.server.Startup" />
	<add key="geocode_api_key" value="" />
	<add key="geocode_api_url" value="" />
	<add key="is_environment_based" value="false" />
	<add key="web_site_url" value="http://localhost:12345" />
	<add key="export_directory" value="./workspace/export" />
	<add key="config_password" value="password" />
		
	<!--add key="import_directory" value="c:/temp/mmria-import" /-->
	<!--add key="export_directory" value="c:/temp/mmria-export" /-->
		
  <!--add key="file_root_folder" value="/vagrant/source-code/scratch/owin/owin/psk/app" />
  <add key="couchdb_url" value="http://db1.mmria.org:5982" /-->


  <add key="file_root_folder" value="/vagrant/source-code/scratch/owin/owin/psk/app" />
  <add key="couchdb_url" value="http://localhost:5984" />

		

<!--add key="couchdb_url" value="http://localhost:5984" />
  <add key="file_root_folder" value="C:\work-space-set\mmrds\MMRDS\source-code\scratch\owin\owin\psk\app" /-->

<!--add key="couchdb_url" value="http://localhost:5984" />
<add key="file_root_folder" value="C:\workspace\MMRDS\source-code\scratch\owin\owin\psk\app" /-->

<add key="timer_user_name" value="mmrds" />
<add key="timer_password" value="mmrds" />		
		
<add key="cron_schedule" value="0 */1 * * * ?"/>
 <!--
    
      Quartz.net cron expression examples
    1. Seconds
    2. Minutes
    3. Hours
    4. Day-of-Month
    5. Month
    6. Day-of-Week
    7. Year (optional field)
    
	every 30 seconds = "*/30 * * * * ?"
    every minute = "0 */1 * * * ?"
    every 5 minutes = "0 */5 * * * ?"
    every 30 minutes = "0 */30 * * * ?"
    every hour = "0 0 */1 * * ?"
    every 12 hours = "0 0 */12 * * ?"
 -->
</appSettings>	
<!--- Begin Add to fix Swashbuckle -->
<runtime>
<assemblyBinding>
<!--- Begin Add to fix Swashbuckle -->
<dependentAssembly>
    <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="4.0.0.0" />
</dependentAssembly>
</assemblyBinding>
<assemblyBinding>
<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.7.0" newVersion="6.0.8.18111" />
</dependentAssembly>
<!--dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.3" />
      </dependentAssembly-->	

      <!--dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.1" newVersion="9.0.1.19813" />
      </dependentAssembly>
			
<dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.30128.0" />
      </dependentAssembly>	
<dependentAssembly>
    <assemblyIdentity name="Newtonsoft.json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="9.0.1.0" />
  </dependentAssembly-->
</assemblyBinding>
</runtime>
<!--- End Add to fix Swashbuckle -->

</configuration>
