<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
	<add key="owin:AppStartup" value="mmria.server.Startup" />
	<add key="geocode_api_key" value="7c39ae93786d4aa3adb806cb66de51b8" />
	<add key="is_environment_based" value="false" />
	<add key="web_site_url" value="http://localhost:12345" />
		
  <add key="file_root_folder" value="/vagrant/source-code/scratch/owin/owin/psk/app" />
  <add key="couchdb_url" value="http://localhost:5984" />


<!--add key="couchdb_url" value="http://localhost:5984" />
  <add key="file_root_folder" value="C:\work-space-set\mmrds\MMRDS\source-code\scratch\owin\owin\psk\app" /-->

		<!--add key="couchdb_url" value="http://db1.mmria.org" />
		 <add key="file_root_folder" value="C:\workspace-set\MMRDS\source-code\scratch\owin\owin\psk\app" /-->
	






</appSettings>	
<!--- Begin Add to fix Swashbuckle -->
<runtime>
<assemblyBinding>
<!--- Begin Add to fix Swashbuckle -->
<dependentAssembly>
    <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="4.0.0.0" />
</dependentAssembly>
</assemblyBinding>
<assemblyBinding>
<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.7.0" newVersion="6.0.8.18111" />
</dependentAssembly>
<!--dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.3" />
      </dependentAssembly-->	

      <!--dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.1" newVersion="9.0.1.19813" />
      </dependentAssembly>
			
<dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.30128.0" />
      </dependentAssembly>	
<dependentAssembly>
    <assemblyIdentity name="Newtonsoft.json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="9.0.1.0" />
  </dependentAssembly-->
</assemblyBinding>
</runtime>
<!--- End Add to fix Swashbuckle -->
</configuration>
