.theme-orange .primary-color {
  color: #f9c671 !important;
}
.theme-orange .primary-bg-color {
  background: #f9c671 !important;
}
.theme-orange .primary-border {
  border: 1px solid #f9c671;
}
.theme-orange .secondary-color {
  color: #fbd69a !important;
}
.theme-orange .secondary-bg-color {
  background: #fbd69a;
}
.theme-orange .secondary-border {
  border: 1px solid #fbd69a;
}
.theme-orange .selected-color {
  color: #612e1f !important;
}
.theme-orange .selected-bg-color {
  background: #612e1f !important;
}
.theme-orange .selected-border {
  border: 1px solid #612e1f;
}
.theme-orange .border-bottom-themed {
  border-bottom: 2px solid #612e1f;
}
.theme-orange .titlebar {
  background: #612e1f;
}
.theme-orange .titlebar .navbar .nav li.dropdown.open > .dropdown-toggle {
  background: #fbd69a !important;
}
.theme-orange #wrapper .module-typeL div h3 {
  color: #612e1f;
}
.theme-orange #wrapper .module-typeL a:hover {
  background: #612e1f;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 320px) and (max-device-width: 568px) {
  .theme-orange .navbtn a:active {
    background: #612e1f;
  }
  .theme-orange .navbtn a:hover * {
    color: #ffffff;
  }
}
.theme-orange .back-btn {
  background: #fbd69a;
}
.theme-orange .modal-header {
  background: #fbd69a;
  border-bottom: 2px solid #f9c671;
}
.theme-orange .mp-pagination li {
  background: #f9c671;
}
.theme-orange .mp-pagination li.selected {
  background: #612e1f;
}
.theme-orange #multiPage,
.theme-orange .multipage,
.theme-orange .module-typeI {
  border-top: 4px solid #612e1f;
}
.theme-orange .module-typeG a.button,
.theme-orange .emailupdates a.button {
  background: #612e1f;
}
.theme-orange nav#left {
  border-left: 1px solid #f9c671;
}
.theme-orange nav#left h3 {
  background: #612e1f;
}
.theme-orange nav#left ul li {
  background: #f9c671;
}
.theme-orange nav#left ul li ul li {
  background: #fbd69a;
}
.theme-orange nav#left > ul {
  border-bottom: 1px solid #f9c671;
  border-right: 1px solid #f9c671;
}
.theme-orange nav#left li {
  border-top: 1px solid #e5e5e5;
}
.theme-orange #search button {
  background: #f9c671;
}
.theme-orange .local .input-prepend {
  background: #f9c671;
}
.theme-orange #mobile-menu li:first-child {
  background: #612e1f;
}
.theme-orange .table-striped-primary tbody > tr:nth-child(odd) > td,
.theme-orange .table-striped-primary tbody > tr:nth-child(odd) > th {
  background-color: #f9c671;
}
.theme-orange .table-striped-secondary tbody > tr:nth-child(odd) > td,
.theme-orange .table-striped-secondary tbody > tr:nth-child(odd) > th {
  background-color: #fbd69a;
}
.theme-orange .table-hover-primary tbody tr:hover > td,
.theme-orange .table-hover-primary tbody tr:hover > th {
  background-color: #f9c671;
}
.theme-orange .table-hover-secondary tbody tr:hover > td,
.theme-orange .table-hover-secondary tbody tr:hover > th {
  background-color: #fbd69a;
}
.theme-orange table.themed > thead > tr:first-child > th {
  background-color: #f9c671;
}
.theme-orange table.themed > thead > tr + tr > th {
  background-color: #fbd69a;
}
.theme-orange table.themed > thead > tr + tr + tr > th {
  background-color: #ffffff;
}
.theme-orange .somemore,
.theme-orange p.somemore {
  background: #612e1f;
}
.theme-orange .module-typeA h3,
.theme-orange .module-typeP h3 {
  background: #612e1f;
}
.theme-orange .module-typeC {
  background: #fbd69a;
}
.theme-orange .module-typeE {
  background: #612e1f;
}
.theme-orange .module-typeE .somemore {
  color: #612e1f;
}
.theme-orange .module-typeE .somemore a,
.theme-orange .module-typeE .somemore span {
  color: #612e1f !important;
}
.theme-orange .module-typeF .somemore {
  background: #612e1f;
}
.theme-orange .module-typeK a span {
  background: #612e1f;
  border-bottom: 3px solid #f9c671;
}
.theme-orange .module-typeG {
  background: #f9c671;
}
.theme-orange .module-typeN h3 {
  background: #612e1f;
}
.theme-orange .flexsliderbox .flex-control-nav a {
  background-color: #fbd69a;
  color: #612e1f;
}
.theme-orange .flexsliderbox .flex-control-nav a:hover {
  background-color: #f9c671;
}
.theme-orange .flexsliderbox .flex-control-nav a:active {
  background-color: #612e1f;
  color: #ffffff;
}
.theme-orange .flexsliderbox .flex-direction-nav li a.prev:before,
.theme-orange .flexsliderbox .flex-direction-nav li a.flex-prev:before {
  border-color: transparent #f9c671 transparent transparent;
}
.theme-orange .flexsliderbox .flex-direction-nav li a.prev:after,
.theme-orange .flexsliderbox .flex-direction-nav li a.flex-prev:after {
  border-color: transparent #ffffff transparent transparent;
}
.theme-orange .flexsliderbox .flex-direction-nav li a.next:before,
.theme-orange .flexsliderbox .flex-direction-nav li a.flex-next:before {
  border-color: transparent transparent transparent #f9c671;
}
.theme-orange .flexsliderbox .flex-direction-nav li a.next:after,
.theme-orange .flexsliderbox .flex-direction-nav li a.flex-next:after {
  border-color: transparent transparent transparent #ffffff;
}
