@page "/test2"

<PageTitle>Home</PageTitle>

<div>
  <h1>MMRIA Home</h1>
  <span>
    Form Approved metadata
  </span>
</div>
<div class="row">
    <div class="w-100 pl-3 pr-3 pt-0 pb-1" id="broadcast_published_message_one"></div>
    <div class="w-100 pl-3 pr-3 pt-0 pb-1" id="broadcast_published_message_two"></div>
</div>
<div>
  Link cards
</div>
<div>
  Role assignment list
</div>