@page "/couchdb"
@inject IHttpClientFactory httpFactory
@*inject IDatabaseService database_service*@

<h3>Test to Connect to MMRIA API and Couch DB</h3>


<button class="btn btn-primary" @onclick="GetMetadata">Test MMRIA api metadata call</button>
<br/>
<textarea rows=7 cols=80 value="@meta">

</textarea>
<br/>
<br/>
<button class="btn btn-primary" @onclick="GetCouchDBData">Test CouchDB api Call</button>
<br/>
<textarea rows=7 cols=80 value="@couch">

</textarea>

@code {


    string meta = null;

    string couch = null;
    private async Task GetMetadata()
    {
        System.Console.WriteLine ("Recieved message.");
        string result = null;
        System.Dynamic.ExpandoObject json_result = null;
        try
        {
            var client = httpFactory.CreateClient("base_client");

            using (var response = await client.GetAsync("hello"))
            {
                response.EnsureSuccessStatusCode();

                meta = await response.Content.ReadAsStringAsync();
            }

            

        }
        catch(Exception ex) 
        {
            Console.WriteLine (ex);

            meta = ex.ToString();
        }
    }

    
    private async Task GetCouchDBData()
    {
        var client = httpFactory.CreateClient("database_client");

        using (var response = await client.GetAsync("metadata/2016-06-12T13:49:24.759Z"))
        {
            response.EnsureSuccessStatusCode();

            couch = await response.Content.ReadAsStringAsync();
        }
    }
}

