@page "/view-data"
@inject IHttpClientFactory httpFactory

<h1>View Data</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (metadata == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
    @foreach (var item in metadata.children.Where(x=> x.type == "form"))
    {
        <li>@item.prompt</li>    
    }
    </ul>
    
}

@code {


    mmria.common.metadata.app metadata;

    protected override async Task OnInitializedAsync()
    {
        metadata = await GetMetadata();
    }

    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public string Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }


    private async Task<mmria.common.metadata.app> GetMetadata()
    {
        var client = httpFactory.CreateClient("base_client");

        return await client.GetFromJsonAsync<mmria.common.metadata.app>("metadata/mmria-pmss-builder");
    }
}
