@using Microsoft.Extensions.Logging
@using mmria.blazor.component
@inject ILogger<FormExample1> Logger

<EditForm 
    Model="@exampleModel" 
    OnValidSubmit="@HandleValidSubmit"
    >
    
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="name" @bind="exampleModel.Name" />

    <button type="submit">Submit</button>
</EditForm>

@code {
    private ExampleModel exampleModel = new();

    private void HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");

        // Process the valid form
    }
}