@using System.Security.Claims;
@{
  Layout = "_LayoutBase";
  var userName = "";
  if (User.Identities.Any(u => u.IsAuthenticated))
  {
    userName = User.Identities.First(
        u => u.IsAuthenticated && 
        u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value;
  }
}

@section HeadScripts {  
  <script>var g_uid = '@userName';</script>
}

<h1>Opioid Report</h1>

<div class="ratio-16-9">
  <iframe style="border: 1px solid #cccccc" class="content p-0" src="https://app.powerbigov.us/reportEmbed?reportId=5b4798a6-0b7a-4c48-beaa-7d81049d9b63&autoAuth=true&ctid=9ce70869-60db-44fd-abe8-d2767077fc8f&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWdvdi12aXJnaW5pYS1yZWRpcmVjdC5hbmFseXNpcy51c2dvdmNsb3VkYXBpLm5ldCJ9" frameborder="0" allowFullScreen="true"></iframe> 
</div>