#fd-canvas-heads-up-display-wrapper {
    // UI Spec Selector
    #ui-spec-selector-container {
        padding: 0;
    }
    #ui-spec-delete-modify-container {
        display: none;
    }

    // Local Rev Container
    #local-rev-container {
        padding: 12px;
        background: gray;
        color: white;
        float: right;
    }
}