.form-designer-wrapper {
    height: 80vh;
    padding: 15px;
    border: 1px solid gray;
    overflow-y: scroll;
    background: #fff;
    background-image: linear-gradient(rgba(242, 242, 242, .5) .1em, transparent .1em), linear-gradient(90deg, rgba(242, 242, 242, .5) .1em, transparent .1em);
    background-size: 2em 2em;
    .form-designer-canvas {
        #alert-select-formtype {
            display: none;
        } // Canvas
        width: 100%;
        height: 1800%;
        padding: 8px;
        overflow-y: scroll;
        position: relative;
        .form-group-wrapper {
            display: inline-block;
        } // Prompt
        // Control
        .form-field-item {
            padding: 15px;
            border: 1px solid lightgray;
            margin-bottom: 10px;
            margin-right: 10px;
        }
        label {
            &.form-field-item, &.resize-drag {
                border: none;
            }
            &.form-field-item:hover, 
            &.resize-drag:hover {
                padding: 15px;
                border: 1px solid lightgray;
                cursor: grab;               
            }
        }
        fieldset {
            margin: 10px 10px 15px 0;
            width: 100%;
            position: relative;
            legend {
                width: auto;
                padding: 0 10px 10px 10px 10px;
            }
            &.list-fieldset {
                background: #fff;
            }
        }
        select {
            background-color: white;
            width: auto;
        }
    }
}