@using System.Security.Claims;
@{
  Layout = "_cdc";
  var userName = "";
  if (User.Identities.Any(u => u.IsAuthenticated))
  {
    userName = User.Identities.First(
        u => u.IsAuthenticated && 
        u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value;
  }
}
<script src="../scripts/export-queue/export_queue_renderer.js" type="text/javascript"></script>
<script src="../scripts/url_monitor.js" type="text/javascript"></script>
<script src="../scripts/profile.js" type="text/javascript"></script>
<script src="../scripts/mmria.js" type="text/javascript"></script>

<script src="../scripts/export-queue/index.js" type="text/javascript"></script>
  <script>
    var g_uid = '@userName';
  </script>

		<div id='form_content_id'> </div>

</div>


