@using System.Security.Claims;
@{
  Layout = "_LayoutBase"; // _cdc_no_footer used to be the template file
  var userName = "";
  if (User.Identities.Any(u => u.IsAuthenticated))
  {
    userName = User.Identities.First(
        u => u.IsAuthenticated && 
        u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value;
  }
}
<script src="../scripts/export-queue/export_queue_renderer.js" type="text/javascript"></script>
<script src="../scripts/url_monitor.js" type="text/javascript"></script>
<!--script src="../scripts/profile.js" type="text/javascript"></script-->
<script src="../scripts/mmria.js" type="text/javascript"></script>

<script src="../scripts/export-queue/index.js" type="text/javascript"></script>
<script>
  var g_uid = '@userName';
</script>

@section HeadScripts
{
  <link rel="stylesheet" href="/styles/bootstrap/bootstrap-datepicker.css" />
  <script src="/scripts/create_default_object.js" type="text/javascript"></script>
  <script src="/scripts/bootstrap/bootstrap-datepicker.js" type="text/javascript"></script>
}

<h1 class="h2 mb-4">Export Data</h1>
<!--p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porttitor tempus purus, mattis pretium nunc condimentum et. Vestibulum id sapien elementum eros consequat convallis quis ut augue.</p-->

<div id='form_content_id'></div>
