<a href="/Home">Home</a>
<br/>
<table>
<tr><th>name</th><th>value</th></tr>



<tr><td>is_environment_based</td><td><input type="text" value="false"/></td></tr>

<tr><td>web_site_url</td><td><input type="text" value="http://localhost:12345"/></td></tr>

<tr><td>log_directory</td><td><input type="text" value="c:/temp/mmria-log"/></td></tr>

<tr><td>export_directory</td><td><input type="text" value="c:/temp/mmria-export"/></td></tr>

<tr><td>couchdb_url</td><td><input type="text" value="http://localhost:5984"/></td></tr>

<tr><td>timer_user_name</td><td><input type="text" value="mmrds"/></td></tr>

<tr><td>timer_password</td><td><input type="text" value="mmrds"/></td></tr>

<tr><td>cron_schedule</td><td><input type="text" value="0 */1 * * * ?"/></td></tr>

<tr><td>password_minimum_length</td><td><input type="text" value="8"/></td></tr>

<tr><td>password_days_before_expires</td><td><input type="text" value="0"/></td></tr>

<tr><td>password_days_before_user_is_notified_of_expiration</td><td><input type="text" value="0"/></td></tr>

<tr><td>EMAIL_USE_AUTHENTICATION</td><td><input type="text" value="false"/></td></tr>

<tr><td>EMAIL_USE_SSL</td><td><input type="text" value="false"/></td></tr>

<tr><td>SMTP_HOST</td><td><input type="text" value="null"/></td></tr>

<tr><td>SMTP_PORT</td><td><input type="text" value="25"/></td></tr>

<tr><td>EMAIL_FROM</td><td><input type="text" value="null"/></td></tr>

<tr><td>EMAIL_PASSWORD</td><td><input type="text" value="null"/></td></tr>


</table>

<input type="button" value="save" />
