@model mmria.server.model.app_config
<script src="../scripts/jquery-3.1.1.min.js"></script>
<script src="../scripts/_config/index.js" type="text/javascript"></script>
<a href="/Home">Home</a>
<br/>
<script type="text/javascript">

const host_site = "@Model.host_site";
</script>
<style>
 .wide
{
     width: 400px;
}
</style>
<div id="content"> </div>
<a href="/Home">Home</a>