<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
	<!--add key="couchdb_url" value="http://localhost:5984" /-->
	<add key="couchdb_url" value="http://db1.mmria.org" />
	<add key="web_site_url" value="http://localhost:12345" />
	<add key="import_directory" value="c:/temp/mmria-import" />
	<add key="export_directory" value="c:/temp/mmria-export" />
	<add key="is_offline_mode" value="false" />
	</appSettings>
<runtime>
<!--assemblyBinding>
<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.8.0" newVersion="6.0.8.18111" />
</dependentAssembly>
</assemblyBinding-->
</runtime>	
</configuration>
