@{
  Layout = "_LayoutBase"; // _cdc_no_footer used to be the template file
  ViewBag.BreadCrumbs = true;
  ViewBag.Sidebar = false;
}

@section HeadScripts
{
    <script src="../scripts/mmria.js" type="text/javascript"></script>
    <script src="../scripts/manage-substance-lists/index.js" type="text/javascript"></script>
}



<div id="output"></div>