
// $color-purple1: #351147;
// $color-purple2: #722378;
// $color-purple3: #E3D3E4;
// $color-purple4: #F7F2F7;
// $color-purple5: #FFFFFF;

// $color-black1: #000000;
// $color-black2: #333333;
// $color-black3: #555555;
// $color-black4: #797979;
// $color-black5: #E0E0E0;
// $color-black6: #F5F5F5;
// $color-black7: #FFFFFF;

// $color-rose1: #842547;
// $color-rose2: #AF4448;
// $color-rose3: #FFC2C2;
// $color-rose4: #AF4448;

// $color-yellow1: #FBAB18;
// $color-yellow2: #FFECB3;
// $color-yellow3: #FFF7E1;

// $color-green1: #497D0C;
// $color-green2: #DCEDC8;
// $color-green3: #F1F8E9;

// $color-blue1: #165D97;

// $color-white1: #ffffff;

// $font-family: "Open Sans", sans-serif;

// .background-purple
// {
//     background-color: $color-purple2;
// }

// .foreground-white
// {
//     color: $color-white1;
// }

// .title 
// {
//     padding: 2px 2px 2px 15px;
//     border-radius: 4px;
//     border: 1px solid $color-purple2;
//     background-color: $color-purple2;
//     box-sizing: border-box;
//     color: $color-white1;
//     text-align: left;
//     line-height: normal;
// }

// th
// {
//     background-color: $color-purple2;
// }

// .title-link 
// {
// width: 303px;
// height: 130px;
// background-color:$color-white1;
// }

// body 
// {
//     font-family:$font-family;
//     font-size: 12px;
// }

// button {
//     width: 527px;
//     height: 38px;
//     padding: 2px 2px 2px 2px;
//     border-radius: 4px;
//     border: 1px solid #ffffff;
//     background-color: #712177;
//     box-sizing: border-box;
//     font-family: "Open Sans", sans-serif;
//     color: rgba(255, 255, 255, 1);
//     text-align: center;
//     line-height: normal;
//   }

//   button:hover {
//     background-color: #450f49;
//     box-sizing: border-box;
//     text-decoration: underline;
//   }
$black: #000000;
$white: #FFFFFF;

$purple: #722378;
$purple-dark: #351147;
$purple-light: #E3D3E4;
$purple-disabled: #F7F2F7;
$purple-disabled-button: #712177be;
$purple-header-level-1: #b890bb;
$purple-header-level-2:  #e3d3e4;
$purple-header-level-top:  #712177;

$red: #AF4448;
$red-dark: #842547;
$red-light: #FFC2C2;
$red-disabled: #ffe7e7;

$gray: #555555;
$gray-dark: #333333;
$gray-light: #797979;
$gray-disabled: #F5F5F5;

$yellow: #fbab18;
$yellow-light: #ffecb3;
$yellow-disabled: #fff7e1;

$green: #497d0c;
$green-light: #dcedc8;
$green-disabled:  #f1f8e9;

$blue: #165d97;

$title-font-weight: 600;
$font-family: 'Open Sans', sans-serif, 'cdciconfont';

@use '../wwwroot/TemplatePackage/4.0/assets/vendor/css/bootstrap.css';
@use '../wwwroot/TemplatePackage/4.0/assets/css/app.min.css';

@mixin theme($theme: $purple, $color: $white, $border-color: $purple) {
  background: $theme;
  color: $color;
  border: 1px solid $border-color;
}

@mixin banner() {
  @extend .mb-3, .mt-3, .align-items-center, .row;
}

@mixin icon($size: 'small') {
  @if $size == 'small' {
    @extend .m-1;
  } @else {
    @extend .m-2, .mr-3;
  }
}

@mixin gray-border() {
  border: 1px solid #cccccc !important;
}

.site-title {
  @extend .p-3;
  @include theme();
  color: $white;
  a {
    color: $white !important;
    font-size: 24px;
  }
}

blockquote {
  margin-bottom: 0px !important;
}

@mixin button($theme: $purple, $color: $white) {
  @extend .p-2;
  @extend .mb-1;
  margin-top: .25rem;
  border-radius: 4px;
  border: 1px solid $color;
  background-color: $theme;
  color: $color;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  &:disabled {
    text-decoration: none !important;
    cursor: default !important;
  }
}

.icon-button {
  height: 38px;
  width: 38px;
}

.anti-btn {
  padding: 0px;
  margin: 1px !important;
}

.info-icon {
  @include icon('medium');
  color: $purple;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  border: none;
}

.refresh-icon {
  @include icon('medium');
  color: $purple;
}

.success-icon {
  @include icon('medium');
  color: $green;
}

.warning-icon {
  @include icon('medium');
  color: $yellow;
}

.error-icon {
  @include icon('medium');
  color: $red;
}

.info-banner {
  @include banner();
  @include theme($purple-disabled, $gray-dark, $purple-light);
}

.success-banner {
  @include banner();
  @include theme($green-disabled, $gray-dark, $green-light);
}

.warning-banner {
  @include banner();
  @include theme($yellow-disabled, $gray-dark, $yellow-light);
}

.error-banner {
  @include banner();
  @include theme($red-disabled, $gray-dark, $red-light);
}

.primary-button {
  @include button();
  &:hover {
    @include button($purple-dark, $white);
  }
  &:disabled {
    @include button($purple-disabled-button, $white);
    text-decoration: none !important;
  }
}

.primary-icon-color {
  color: $purple;
}

.primary-icon-button {
  @include button();
  &:hover {
    @include button($purple-dark, $white);
  }
  &:disabled {
    @include button($purple-disabled, $gray-dark);
    text-decoration: none !important;
  }
  img {
    fill: $gray-dark;
  }
}

.secondary-button {
  @include button($white, $purple-dark);
  &:hover {
    @include button($purple-disabled, $purple-dark);
  }
  &:disabled {
    @include button($white, $purple-disabled-button);
  }
}

.cancel-button {
  @include button($white, $gray);
  &:hover {
    @include button(#eeeeee, $gray);
  }
  &:disabled {
    @include button($white, #555555cf);
  }
}

.delete-button {
  @include button($white, $red-dark);
  &:hover {
    @include button($red-dark, $white);
  }
  &:disabled {
    @include button(#fffefe, #954660db);
  }
}

.delete-icon-button {
  @include button($white, $red-dark);
  &:hover {
    @include button($red-disabled, $white);
    border-color: $red-dark !important;
  }
  &:disabled {
    @include button(#fffefe, #954660db);
  }
}

.primary-header {
  @include theme;
  font-weight: $title-font-weight;
}

.primary-background {
  @include theme;  
}

.title-header {
  @include theme($purple, $gray-dark, $purple);
  font-weight: $title-font-weight;
}

.title-secondary-header {
  @include theme($purple-light, $gray-dark, $purple-light);
  font-weight: $title-font-weight;
}

h1 {
  font-size: 30px;
  @extend .mt-0;
}

h2 {
  font-size: 24px;
  @extend .mt-0;
}

span, p, div {
  font-size: 16px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif !important;
}

label {
  font-size: 17px;
  font-weight: 545 !important;
  font-family: "Open Sans Semibold", "Open Sans", sans-serif !important;
}

.horizontal-control {
  @extend .d-flex, .flex-row, .align-items-center, .mb-2;
  label {
    text-align: left;
    width: auto;
    @extend .mb-0, .mr-2, .pr-0;

  }
  &.required label:first-child:after {
    content: '*';
    color: $purple;
  }
}

.vertical-control {
  @extend .mb-2;
  label {
    @extend .mb-0;
  }
  &.required label:first-child:after {
    content: '*';
    color: $purple;
  }
  > div {
    margin-left: auto !important;
  }
}

.additional-note {
  font-size: 17px !important;
  font-style: italic !important;
  font-family: "Open Sans Italic", "Open Sans", sans-serif !important;
}

.btn-outline-secondary {
  border: 1px solid #ced4da !important;
}

.pb-additional-note {
  padding-bottom: 30px !important;
}

a {
  font-size: 17px;
  color: #005ea6;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

legend {
  font-size: 17px;
  font-family: "Open Sans Semibold", "Open Sans", sans-serif;
  font-weight: 545;
}

.form-check {
  @extend .mr-1, .pl-0;
  cursor: pointer;
  > label {
    cursor: pointer;
  }
}

.table {
  tr.header-level-1 {
    border: none !important;
    background-color: $purple-header-level-2 !important;
    th {
      border: none !important;
    }
  }
  tr.header-level-2 {
    color: $gray-dark;
    border: none !important;
    background-color: $purple-light !important;
    th {
      border: none !important;
    }
  }
  tr.header-level-top-white {
    border: none !important;
    background-color: $purple-header-level-top !important;
    th {
      color: $white !important;
      border: none !important;
    }
  }
  td.cell-right-align {
    text-align: right;
  }
  tr.purple-border {
    border-bottom: 2px solid $purple-header-level-1 !important;
  }
  tr.purple-row {
    background-color: #f7f2f7 !important;
  }
  th.cell-right-align {
    text-align: right !important;
  }
  tr.header-level-top-black {
    background-color: $purple-header-level-1 !important;
    th {
      color: $gray-dark !important;
      border: none !important;
    }
  }
  tbody tr:nth-child(odd) {
    background-color: $white;
  }
  tbody tr:nth-child(even) {
    background-color: $gray-disabled;
  }
  tfoot {
    font-weight: 600;
    color: $gray-dark !important;
    background-color: $purple-header-level-2 !important;
    & tr {
      & td {
        border: none !important;
      }
    }
  }
}

td {
  @include gray-border();
  @extend .pt-3, .pb-1;
  div {
    input.big-checkbox[type="checkbox"] {
      top: 0rem !important;
    }
    .primary-button {
      margin-top: 0px !important;
    }
  }
  > a {
    color: #075290 !important;
    text-decoration: underline !important;
    &:hover {
      text-decoration: none !important;
    }
  }
}

th {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

input {
  &.big-checkbox[type="checkbox"] {
    padding: 5px !important;
    width: 1.5rem;
    height: 1.5rem;
    top:0.6rem;
    + label {
      margin: 15px;
    }
    cursor: pointer;
    &:disabled {
      cursor: initial;
    }
  }
  &.big-checkbox[type="checkbox"] {
    padding: 5px !important;
    width: 1.5rem;
    height: 1.5rem;
    top:0.6rem;
    + label {
      margin: 15px;
    }
    cursor: pointer;
    &:disabled {
      cursor: initial;
    }
  }
  &.big-radio[type="radio"] {
    padding: 5px !important;
    width: 1.5rem;
    height: 1.5rem;
    top:0.6rem;
    + label {
      margin: 15px;
    }
    cursor: pointer;
    &:disabled {
      cursor: initial;
    }
  }
}

select {
  cursor: pointer;
  &:disabled {
    cursor: initial;
  }
}

input:disabled {
  cursor: initial;
}

.white-fill {
  color: $white;
}

.icon-pin-primary {
  &:first-child {
    content: url('../wwwroot/img/pin-case.svg');
  }
  &:disabled {
    &img:first-child {
      content: url('../wwwroot/img/pin-case-disabled.svg');
    }
  }
}

.test {
  background-image: url('../wwwroot/img/pin-case.svg');
}

.search-icon {
  fill: $white;
   &:hover {
     fill: $purple-dark;
   }
}

.checkbox-selected-row {
  background-color: $purple-disabled !important;
}

.card-container {
  @extend .flex-column, .d-flex, .mb-3;
  label {
    font-weight: 600 !important;
  }
  .card-header-level-1 {
    @extend .p-2;
    font-weight: 600;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: $purple-light;
    @include gray-border();
    border-bottom: none !important;
  }
  .card-header-level-2 {
    @extend .mt-2;
    font-weight: 600;
    max-width: 27%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-width: 0px;
    border-bottom: none !important;
  }
  .card-content-level-1 {
    @extend .col-md-12, .p-2;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: $white;
    @include gray-border();
  }
  .card-content-level-2 {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .card-header-level-2, .card-content-level-2 {
    @extend .col-md-12, .p-2;
    background-color: $purple-disabled;
    @include gray-border();
  }
}

.card-container-dark {
  @extend .p-0;
  border-radius: 4px;
  overflow: hidden;
  .header, .modal-header {
    @extend .p-2;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 1px solid #cccccc;
    background-color: $purple-header-level-top;
    color: $white;
    width: 100%;
    span {
      cursor: pointer;
      &:hover {
        color: $gray-disabled;
        text-decoration: underline;
      }
    }
  }
  .card-content {
    ul {
      @extend .m-2;
      list-style-type:circle;
    }
  }
  @include gray-border();
}

.card-container-light {
  @extend .p-0;
  border-radius: 4px;
  overflow: hidden;
  .header {
    > h2 {
      color: $gray;
      font-size: 18px;
    }
    @extend .p-2;
    background-color: $purple-light;
    width: 100%;
  }
  .card-content {
    ul {
      @extend .m-2;
      list-style-type:circle;
    }
  }
  @include gray-border();
}

.purple-icon-button {
  cursor: pointer;
  color: $purple;
  @extend .mr-1;
}

.btn-inline-primary {
  background-color: $white;
  border: 1px solid #ced4da !important;
  border-left: none !important;
  @extend .m-0;
  span {
    color: $purple;
    &:hover {
      color: $purple-dark;
    }
  }
}

.modal-body {
  min-height: 125px;
}

.modal-footer {
  @extend .d-flex, .align-items-center, .justify-content-end, .p-2;
  border-top: none !important;
}

.input-group-append {
  .btn-outline-secondary {
    border-left: none !important;
  }
}

.side-nav {
  text-decoration: none !important;
  color: black;
  &:hover {
    color: $purple;
  }
}

.nav-first-level {
  @extend .d-flex, .p-2;
  border-left: 2px solid $purple-header-level-top;
  border-bottom: .1px dashed #eeeeee;
  cursor: pointer;
  &:hover {
    background-color: $gray-disabled;
    color: $purple;
  }
  &.nav-disabled {
    background-color: $gray-disabled;
    cursor: initial;
  }
  > span:last-child {
    margin-left: auto;
  }
}

.nav-second-level {
  @extend .d-flex, .justify-content-between, .p-2;
  border-left: 2px solid $purple-header-level-1;
  border-bottom: .1px dashed #eeeeee;
  border-top: .1px dashed #eeeeee;
  margin-left: 1rem;
  cursor: pointer;
  &:hover {
    background-color: $gray-disabled;
  }
  &.nav-disabled {
    background-color: $gray-disabled;
    cursor: initial;
  }
}

.nav-third-level {
  @extend .d-flex, .justify-content-between, .p-2;
  border-left: 2px solid $purple-light;
  border-bottom: .1px dashed #eeeeee;
  border-top: .1px dashed #eeeeee;
  margin-left: 2rem;
  cursor: pointer;
  &:hover {
    background-color: $gray-disabled;
  }
  &.nav-disabled {
    background-color: $gray-disabled;
    cursor: initial;
  }
}

.btn-tab-navigation {
  border: 0.5px solid #cccccc;
  color: purple;
  border-radius: 4px;
  background-color: $white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  &.reverse {
    span {
      transform: rotate(.5turn);
    }
  }
  &:hover {
    background-color: $purple-disabled;
  }
  &:disabled {
    background-color: $white;
    color: $purple-light;
    cursor: initial;
  }
}

.bottom-nav {
  @extend .row, .justify-content-between, .pt-2, .pb-2, .pl-0, .pr-0, .text-center;
  background-color: $gray-disabled;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
}

span.reverse {
  transform: rotate(.5turn);
}

.chart-header-row {
  border: none;
  display: flex;
  justify-content: center;
}

.chart-header-toggle {
  background: $white;
  padding: .05rem;
  margin-left: auto;
  font-size: small;
}

.purple-pattern {
  background-image: url(/img/Purple-Pattern-Light.png);
  background-size: cover;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  > div {
    height: 100%;
  }
}

/* Grid system for 1/3 || 25% */
.grid-item.grid-item-3 {
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: calc(((1/3 * 100%) - 1rem) + (1/3*1rem));
}

/* All children except for 1st in every row */
.grid-item.grid-item-3:nth-child(3n) {
  margin-right: 0;
}

thead {
  border-left: 1px solid #cccccc !important;
  border-right: 1px solid #cccccc !important;
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}

.statement-info {
  font-size: smaller;
  @extend .pb-3;
}

.statement {
  background-color: var(--white);
  border: 1px solid #cccccc;
  border-radius: var(--radius);
  display: inline-block;
  > p {
    font-size: 90%;
  }
  padding: 8px;
}

h2 {
  @extend .p-0, .mb-0;
}

.form-check-input-end {
  @extend .form-check-input;
  margin-top: -0.5rem !important;
  margin-left: .5rem !important;
}

.transparent-button {
  background-color: transparent !important;
  border: none !important;
}

@media (max-width: 991px) {
  h1:first-child {
    display: initial !important;
  }

  .grid {
    width: 675px;
  }

  /* Grid system for 1/3 || 25% */
  .grid-item.grid-item-3 {
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: 675px;
  }
}
