@{ 
  bool is_pmss_enhanced = false;

  #if IS_PMSS_ENHANCED
    is_pmss_enhanced = true;
  #endif
}
<div class="container no-print">
  <nav role="navigation" aria-label="Breadcrumb" class="breadcrumbs">
    <ol id="breadcrumb_list" class="breadcrumb">
        @if(is_pmss_enhanced)
        {
            <li class="breadcrumb-item"><a href="/">PMSS Home</a></li>
        }
        else
        {
            <li class="breadcrumb-item"><a href="/">MMRIA Home</a></li>
        }
      

      @* Logic to show secondary and tertiary links in the breadcrumbs *@

  </nav>
</div>