<span class="statement mb-2">
  <p class="m-0">Form Approved</p>
  <p class="m-0">OMB No. 0920-1294</p>
  <p class="m-0">Exp. Date 04/30/2023</p>
</span>
<p class="statement-info mb-0" style="">Public reporting burden of this collection of information is estimated to average 15 hours per response, including the time for reviewing instructions, searching existing data sources, gathering and maintaining the data needed, and completing and reviewing the collection of information. An agency may not conduct or sponsor, and a person is not required to respond to a collection of information unless it displays a currently valid OMB control number. Send comments regarding this burden estimate or any other aspect of this collection of information, including suggestions for reducing this burden to CDC/ATSDR Reports Clearance Officer; 1600 Clifton Road NE, MS D-74, Atlanta, Georgia 30333; ATTN: PRA (0920-1294)</p>
