<footer class="cdcSlimFooter navbar navbar-default navbar-fixed-bottom" id="footer">
	<%=version%>
 <!-- include eng footerSubSocialMedia.html -->
<div class="socialMedia">
	<div class="container" style="visibility: visible;">
		<nav class="followcdc">
			<ul>
				<li><a href="https://www.cdc.gov/Other/emailupdates"><span class="sprite-24-govd"></span><span class="tp-sr-only">Email</span></a></li>
				<li><a href="https://www.facebook.com/CDC" target="_blank"><span class="sprite-24-facebook"></span><span class="tp-sr-only">Recommend</span></a></li>
				<li><a href="https://twitter.com/CDCgov" target="_blank"><span class="sprite-24-twitter"></span><span class="tp-sr-only">Tweet</span></a></li>
				<li><a href="https://www.youtube.com/user/CDCstreamingHealth" target="_blank"><span class="sprite-24-youtube"></span><span class="tp-sr-only">YouTube</span></a></li>
				<li><a href="https://www.instagram.com/CDCgov/" target="_blank"><span class="sprite-24-instagram"></span><span class="tp-sr-only">Instagram</span></a></li>
			</ul>
		</nav>
		<nav class="cdcmedia">
			<ul>
				<li><a href="https://www2c.cdc.gov/podcasts"><span class="sprite-24-listen"></span><span class="tp-sr-only">Listen</span></a></li>
				<li><a href="https://www.cdc.gov/cdctv"><span class="sprite-24-watch"></span><span class="tp-sr-only">Watch</span></a></li>
				<li><a href="https://tools.cdc.gov/podcasts/rss.asp"><span class="sprite-24-rss"></span><span class="tp-sr-only">RSS</span></a></li>
			</ul>
		</nav>
	</div>
</div>
 <!-- /include eng footerSubSocialMedia.html -->

	<div class="container" style="visibility: visible;">
		<div class="cdcLinks">
			<div class="container" style="visibility: visible;">
				<ul>
					
<!-- include eng footerSubCdcLinks.html-->
<li>
	<nav>
		<h6 class="hidden-four hidden-three">ABOUT <span class="icon-plus visible-one pull-right"></span></h6>
		<ul class="hidden-one">
			<li><a href="https://www.cdc.gov/about/default.htm">About CDC</a></li>
			<li><a href="https://jobs.cdc.gov">Jobs</a></li>
			<li><a href="https://www.cdc.gov/funding">Funding</a></li>
		</ul>
	</nav>
</li>
<li>
	<nav>
		<h6 class="hidden-four hidden-three">LEGAL <span class="icon-plus visible-one pull-right"></span></h6>
		<ul class="hidden-one">
			<li><a href="https://www.cdc.gov/Other/policies.html">Policies</a></li>
			<li><a href="https://www.cdc.gov/Other/privacy.html">Privacy</a></li>
			<li><a href="https://www.cdc.gov/od/foia">FOIA</a></li>
			<li><a href="https://www.cdc.gov/eeo/nofearact/index.htm">No Fear Act</a></li>
			<li><a class="no-link" href="https://oig.hhs.gov">OIG</a></li>
		</ul>
	</nav>
</li>
<!--/ include eng footerSubCdcLinks.html-->

				</ul>
			</div>
		</div>
		<div class="cdcContact">
			<div class="container" style="visibility: visible;">
				<ul>
					<li class="local-contact">
						
 <!-- include eng footerSubGlobalContact1.html -->
<section>
	<address class="address" itemtype="https://schema.org/Organization" itemscope="itemscope">
		<span class="value" itemtype="https://schema.org/PostalAddress" itemscope="itemscope" itemprop="address">
			<span itemprop="streetAddress">1600 Clifton Road</span>
			<span itemprop="addressLocality">Atlanta</span>,
			<span itemprop="addressRegion">GA</span>
			<span itemprop="postalCode">30329-4027</span>
			<span itemprop="addressCountry">USA</span>
		</span><br>
		<span class="value" itemprop="telephone">800-CDC-INFO (800-232-4636)</span>,
		<span class="value" itemprop="telephone">TTY: 888-232-6348</span><br>
		<span class="value" itemtype="https://schema.org/ContactPoint" itemscope="itemscope" itemprop="contactPoint">
			<span itemprop="url"><a class=" default no-link" href="https://wwwn.cdc.gov/dcs/RequestForm.aspx">Email CDC-INFO</a></span>
		</span>
	</address>
</section>
 <!-- /include eng footerSubGlobalContact1.html -->

					</li>
					<li class="contact">
						
 <!-- include eng footerSubGlobalContact2.html -->
<section>
	<address class="address" itemtype="https://schema.org/Organization" itemscope="itemscope">
		<span class="value" itemtype="https://schema.org/ContactPoint" itemscope="itemscope" itemprop="contactPoint">
			<span itemprop="url"><a class="no-link" href="https://www.hhs.gov">U.S. Department of Health &amp; Human Services</a></span>
		</span><br>
        <span class="value" itemtype="https://schema.org/ContactPoint" itemscope="itemscope" itemprop="contactPoint">
        	<span itemprop="url"><a class="no-link" href="https://www.hhs.gov/open">HHS/Open</a></span>
        </span><br>
        <span class="value" itemtype="https://schema.org/ContactPoint" itemscope="itemscope" itemprop="contactPoint">
			<span itemprop="url"><a class="no-link" href="https://www.usa.gov/">USA.gov</a></span>
		</span>
	</address>
</section>
 <!-- /include eng footerSubGlobalContact2.html -->

					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>



