	<div class="container-fluid app-footer">
		<div class="container">

			<p><%=version%></p>

		</div>
	</div>

	<footer role="contentinfo" aria-label="Footer" class="site-footer">
		<div class="container-fluid footer-wrapper">
			<div class="container">
				<div class="row">
					<address class="col-md-3" itemtype="https://schema.org/Organization" itemscope="itemscope">
						<strong>CONTACT CDC-INFO</strong>
						<div class="row mt-2">
							<div class="col-1"><span class="fi cdc-icon-phone x24" aria-hidden="true"></span></div>
							<div class="col">
								<span>Have questions? We have answers.</span>
								<span itemprop="telephone">1-800-CDC-INFO (800-232-4636)</span>
								<span itemprop="telephone">TTY: 888-232-6348</span>
							</div>
						</div>
						<div class="row mt-2">
							<div class="col-1"><span class="fi cdc-icon-email x24"></span></div>
							<div class="col" itemtype="https://schema.org/ContactPoint" itemscope="itemscope" itemprop="contactPoint">
								<span itemprop="url"><a href="https://wwwn.cdc.gov/dcs/RequestForm.aspx" target="_blank">Email CDC-INFO</a></span>
							</div>
						</div>
					</address>
					<div class="col-md-3 mt-3 mt-md-0">
						<strong>CDC INFORMATION</strong>
						<ul>
							<li><a href="https://www.cdc.gov/about/default.htm" target="_blank">About CDC</a></li>
							<li><a href="https://jobs.cdc.gov" target="_blank">Jobs</a></li>
							<li><a href="https://www.cdc.gov/funding" target="_blank">Funding</a></li>
							<li><a href="https://www.cdc.gov/Other/policies.html" target="_blank">Policies</a></li>
							<li><a href="https://www.cdc.gov/other/plugins/index.html" target="_blank">File Viewers &amp; Players</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<ul>
							<li><a href="https://www.cdc.gov/Other/policies.html" target="_blank">Privacy</a></li>
							<li><a href="https://www.cdc.gov/od/foia" target="_blank">FOIA</a></li>
							<li><a href="https://www.cdc.gov/eeo/nofearact/index.htm" target="_blank">No Fear Act</a></li>
							<li><a href="https://oig.hhs.gov" target="_blank">OIG</a></li>
							<li><a href="https://www.cdc.gov/other/nondiscrimination.html" target="_blank">Nondiscrimination</a></li>
							<li><a href="https://www.cdc.gov/contact/accessibility.html" target="_blank">Accessibility</a></li>
						</ul>
					</div>
					<div class="col-md-3 mt-2 mt-md-0 connect-icons">
						<strong>CONNECT WITH CDC</strong><br>
						<ul class="list-inline mt-3">
							<li><a href="https://www.facebook.com/CDC" target="_blank"><span class="sr-only">Facebook</span><span
										class="fi cdc-icon-fb-white x24" aria-hidden="true"></span></a></li>
							<li><a href="https://twitter.com/CDCgov" target="_blank"><span class="sr-only">Twitter</span><span
										class="fi cdc-icon-twitter-white x24" aria-hidden="true"></span></a></li>
							<li><a href="https://www.youtube.com/user/CDCstreamingHealth" target="_blank"><span
										class="sr-only">Youtube</span><span class="fi cdc-icon-youtube-white x24"
										aria-hidden="true"></span></a></li>
							<li><a href="https://www.instagram.com/CDCgov/" target="_blank"><span class="sr-only">Instagram</span><span
										class="fi cdc-icon-insta x24" aria-hidden="true"></span></a></li>
						</ul><br class="d-none d-md-block">
						<ul class="list-inline mt-2">
							<li><a class="footer-syndlink"
									href="https://tools.cdc.gov/medialibrary/index.aspx#/sharecontent/https://www.cdc.gov/wcms/4.0/cdc-wp/index.html" target="_blank"><span
										class="sr-only">Syndicate</span><span class="fi cdc-icon-syndication-white x24"
										aria-hidden="true"></span></a></li>
							<li><a href="https://www.cdc.gov/cdctv" target="_blank"><span class="sr-only">CDC TV</span><span
										class="fi cdc-icon-cdc-tv-white x24" aria-hidden="true"></span></a></li>
							<li><a href="https://tools.cdc.gov/podcasts/rss.asp" target="_blank"><span class="sr-only">RSS</span><span
										class="fi cdc-icon-rss-white x24" aria-hidden="true"></span></a></li>
							<li><a href="https://wwwn.cdc.gov/dcs/RequestForm.aspx" target="_blank"><span class="sr-only">Email</span><span
										class="fi cdc-icon-email x24" aria-hidden="true"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid agency-footer">
			<div class="container">
				<div class="row" itemtype="https://schema.org/Organization" itemscope="itemscope">
					<div class="col-md-6 mt-1 mt-md-0">
						<span class="value" itemtype="https://schema.org/ContactPoint" itemscope="itemscope" itemprop="contactPoint">
							<span itemprop="url"><a href="https://www.hhs.gov" target="_blank">U.S. Department of Health &amp; Human Services</a></span>
						</span>
					</div>
					<div class="col-md-3 mt-1 mt-md-0">
						<span class="value" itemtype="https://schema.org/ContactPoint" itemscope="itemscope" itemprop="contactPoint">
							<span itemprop="url"><a href="https://www.usa.gov/" target="_blank">USA.gov</a></span>
						</span>
					</div>
					<div class="col-md-3 mt-1 mt-md-0">
						<span class="value">
							<span>
								<a class="footer-ext" href="https://www.cdc.gov/Other/disclaimer.html" target="_blank">CDC Website Exit Disclaimer</a>
								<span class="sr-only">external icon</span>
								<span class="fi cdc-icon-external x16" aria-hidden="true"></span>
							</span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</footer>

</div> <!-- end #top.site -->

<div class="loader-box row align-items-center justify-content-center">
	<div class="loader">Loading...</div>
</div>
