<html lang="en" class="theme-purple">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="The Maternal Mortality Review Information App (MMRIA) is a public health software tool created to collect, store, analyze and summarize information relevant to maternal deaths. The MMRIA serves 2 purposes: first to provide complete, detailed, and organized medical and social information that can be used by medical review committees to investigate individual maternal deaths; and second to provide a standardized cumulative database for future research and analysis on maternal mortality.">
  <title>Maternal Mortality Review Information App | Public Health | MMRIA</title>
  <link rel="shortcut icon" href="/TemplatePackage/4.0/assets/imgs/favicon.ico">
  <link rel="stylesheet prefetch" href="/TemplatePackage/4.0/assets/vendor/css/bootstrap.css">
  <link rel="stylesheet prefetch" href="/TemplatePackage/4.0/assets/css/app.min.css">
  <link rel="stylesheet" media="print" href="/TemplatePackage/4.0/assets/css/print.css">
  <link rel="stylesheet" href="/styles/mmria-custom.css" />

  <script src="/TemplatePackage/4.0/assets/vendor/js/jquery.min.js"></script>

  @RenderSection("HeadScripts", false)
</head>

<body>

  @await Html.PartialAsync("_Header")

  <main id="content"
        class="container app-main"
        role="main"
        aria-label="Main Content Area">
    <div class="row">
      <div class="col">

        @RenderBody()

      </div>
    </div>
  </main>
    
  @await Html.PartialAsync("_Footer")

  <script src="/TemplatePackage/4.0/assets/vendor/js/bootstrap.bundle.min.js"></script>
  <script src="/TemplatePackage/4.0/assets/js/app.bundle.min.js"></script>
  <script src="/scripts/mmria-custom.js"></script>

  @RenderSection("Scripts", false)
  
</body>
</html>
