<div class="container">
  <a href="#content" id="content-link" class="skip-link">Skip to main content</a>
  @if (ViewBag.Sidebar == true)
  {
    <a href="#navigation" id="nav-link" class="skip-link">Skip to navigation</a>
  }
</div>
