@page "/counter"
@rendermode InteractiveWebAssembly
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@using System.Net.Http
@inject HttpClient Http

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


<button class="btn btn-primary" @onclick="IncrementCount">Get Bubba</button>

<textarea @bind=result_text></textarea>



@code {

    ElementReference span;
    int currentCount = 0;

    string result_text = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();


        //todoItems = await Http.GetFromJsonAsync<TodoItem[]>("todoitems");

        HttpResponseMessage response = await Http.GetAsync($"{NavigationManager.BaseUri.Replace("https:", "http:")}api/user/my-user");

        response.EnsureSuccessStatusCode();
        result_text = await response.Content.ReadAsStringAsync();

        
    
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        return base.OnAfterRenderAsync(firstRender);

        if(firstRender)
        {
            //span. = result_text;
        }
    }



    

    

    void IncrementCount()
    {
        currentCount++;
    }
}




