@page "/counter"
@rendermode InteractiveWebAssembly
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@using System.Net.Http
@inject HttpClient Http

<PageTitle>Counter</PageTitle>


<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


<button class="btn btn-primary" @onclick="IncrementCount">Get User</button>

<textarea @bind=result_text></textarea>



@code {

    ElementReference span;
    int currentCount = 0;

    string url;
    mmria.common.model.couchdb.user user;

    string result_text = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();


    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if(firstRender)
        {
            user = await JSRuntime.InvokeAsync<mmria.common.model.couchdb.user>("mmria_api_get_url", "api/user/my-user");


            result_text = $"The user:\n{user.name} {user._id}";

            //result_text = await JSRuntime.InvokeAsync<string>("mmria_api_get_url", "api/user/my-user");
        }
    }

    public class ClientMovieService(HttpClient http, string url) 
    {
        public async Task<mmria.common.model.couchdb.user> GetUserAsync() => 
            await http.GetFromJsonAsync<mmria.common.model.couchdb.user>($"{url}api/user/my-user") ?? new ();
    }
    

    

    void IncrementCount()
    {
        currentCount++;
    }
}




