@{
    ViewData["Title"] = "Home Page";
}

@*<link href="scripts/fileupload.js" type="text/css" rel="stylesheet" />*@
<script src="../scripts/fileupload/fileupload.js" type="text/javascript"></script>


<input type="file" id="files" name="files[]" onchange="readmultifiles(this.files)" multiple=""/>
    <div id="bag">
        <ul></ul>
    
    </div>
<br/>
<hr/>
MOR:<br/>
<textarea id="mor_output" cols=6000 rows=9> </textarea>

FET:<br/>
<textarea id="fet_output" cols=9000 rows=9> </textarea>

NAT:<br/>
<textarea id="nat_output" cols=6000 rows=9> </textarea>
<br/>

output:<br/>
<textarea id="output" cols=6000 rows=9> </textarea>

<button id="process" value="begin vital import"></button>
