@using System.Security.Claims;
@{
    Layout = "_LayoutBase";

    ViewBag.BreadCrumbs = true;

    var is_cdc_analyst = false;
    var is_abstractor = false;

    var userName = "";
  
    if (User.Identities.Any(u => u.IsAuthenticated))
    {
        userName = User.Identities.First(
        u => u.IsAuthenticated && 
        u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value;
    }

    foreach(var role in User.Identities.First(u => u.IsAuthenticated &&  u.HasClaim(c => c.Type == ClaimTypes.Name)).Claims.Where(c=> c.Type == ClaimTypes.Role))
    {
      switch(role.Value)
      {
        case "abstractor":
          is_abstractor = true;
          break;
        case "cdc_analyst":
          is_cdc_analyst = true;
          break;
      }
    }

}

@section HeadScripts
{
    <script src="../scripts/mmria.js" type="text/javascript"></script>
    <script src="../scripts/vitals/index.js" type="text/javascript"></script>
}

<h1 class="h2 mb-4" tabindex="-1">Vitals Import Status Notification Report</h1> <button class="btn btn-primary mt-3 d-none">Clear All TEST Data</button>

@* if(is_cdc_analyst)
{
    <p><a id="clear_data">clear test data</a></p>
}*@


<p>Utilize this page to view Vitals data. Please select a state from the State dropdown box and an import date from the Import dropdown box to view imported records by state and date. </p>

<div id="batch_list">
    
</div>

<div id="report" class="mt-4">
    <span class="spinner-container spinner-content" style="display: none;">
        <span class="spinner-body text-primary">
            <span class="spinner"></span>
            <span class="spinner-info">Loading...</span>
        </span>
    </span>
</div>
