@using System.Security.Claims;
@{
  Layout = "_LayoutBase";

  ViewBag.BreadCrumbs = true;
  
  var userName = "";
  
  if (User.Identities.Any(u => u.IsAuthenticated))
  {
    userName = User.Identities.First(
        u => u.IsAuthenticated && 
        u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value;
  }
}

@section HeadScripts
{
    <script src="../scripts/mmria.js" type="text/javascript"></script>
    <script src="../scripts/vitals/index.js" type="text/javascript"></script>
}



<h1 class="top">Vitals load Notification</h1>

<div id="batch_list"></div>
<div id="report"></div>


