@using System.Security.Claims;
@{
  Layout = "_LayoutBase";

  ViewBag.BreadCrumbs = true;
  ViewBag.Sidebar = true;
  
  var userName = "";

  if(User.Identity != null && User.Identity.IsAuthenticated)
  {
    userName = User.Identities.First(
    u => u.IsAuthenticated &&
    u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value;
  }

  var metadata_version = TempData["metadata_version"];
}

@section HeadScripts
{
  <link href="./styles/jquery/jquery.timepicker.css" type="text/css" rel="stylesheet" />
  <link href="./styles/jquery/jquery.datetimepicker.css" type="text/css" rel="stylesheet" />
  <link href="./styles/bootstrap/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" />
  <link href="./styles/bootstrap/jquery.bootstrap-touchspin.min.css" type="text/css" rel="stylesheet" />
  <link href="./styles/flatpickr/flatpickr.min.css" type="text/css" rel="stylesheet" />
  <link href="./styles/d3/c3.min.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="css/animate.css">

  <script src="js/jquery.easing.min.js"></script>
  <script src="js/wow.js"></script>
  <script src="js/jquery.bxslider.min.js"></script>
  <script src="./scripts/jquery-ui.min.js"></script>
  <script src="./scripts/jquery/moment.js"></script>
  <script src="./scripts/jquery/jquery.timepicker.js"></script>
  <script src="./scripts/jquery/jquery.numeric.min.js" type="text/javascript"></script>
  <script src="./scripts/jquery/jquery.datetimepicker.js" type="text/javascript"></script>
  <script src="./scripts/bootstrap/bootstrap-datetimepicker.min.js"></script>
  <script src="./scripts/bootstrap/jquery.bootstrap-touchspin.min.js"></script>
  <script src="./scripts/flatpickr/flatpickr.js"></script>
  <script src="./scripts/esprima.js"></script>
  <script src="./scripts/escodegen.browser.js"></script>
  <script src="./scripts/mmria.js" type="text/javascript"></script>
  <script src="./scripts/d3/d3.min.js" type="text/javascript"></script>
  <script src="./scripts/d3/c3.min.js" type="text/javascript"></script>
  <script src="./scripts/metadata_summary.js" type="text/javascript"></script>
  <script src="./scripts/editor/navigation_renderer.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/app.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/boolean.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/chart.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/date.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/datetime.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/form.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/grid.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/group.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/hidden.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/jurisdiction.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/label.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/list.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/number.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/string.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/textarea.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/time.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer.js" type="text/javascript"></script>
  <script src="./scripts/create_default_object.js" type="text/javascript"></script>
  <script src="./scripts/url_monitor.js" type="text/javascript"></script>
  <script src="./api/version/@metadata_version/validation" type="text/javascript"> </script>
  <script src="/scripts/case/index.js" type="text/javascript"></script>
  <script src="/scripts/case/search_view.js" type="text/javascript"></script>
}

@section Scripts
{
  <script>
    $('body').on('click', '#content-link', function(event) {
      var summary = $('#app_summary')[0];
      var tar = null;

      event.preventDefault();

      if (summary.style.display === 'block')
      {
        var tar = $('.content-intro[tabindex]');
        tar.focus();
      }
      else
      {
        var tar = $('.construct__body[tabindex]');
        
        setTimeout(() => {
          window.scrollTo(0,192); // scroll to top of page
        }, 0);
        tar.focus();
      }
    });


    $('#nav-link').show();
    $('body').on('click', '#nav-link', function() {
      var tar = $('#navigation[tabindex]');

      event.preventDefault();

      tar.focus();
    });
  </script>

  <script>
    var breadcrumbs = $('#breadcrumb_list');
    var summary = $('#summary-item');
    var currHash = window.location.hash;

    if (currHash === '' || currHash === '#/summary')
    {
      summary.addClass('active selected');
    }

    $(window).on('hashchange', function() {
      var newHash = window.location.hash;

      // Set a time out to give our DOM a little time (200ms)
      setTimeout(() => {
        var case_item = $('#case_item');
        var quickedit_item = $('#quickedit_item');
        
        // If case_item && quickedit_item exists
        if (!isNullOrUndefined(case_item) && !isNullOrUndefined(quickedit_item))
        {
          // If there is no hash || hash is on summary page
          if (newHash === '' || newHash === '#/summary')
          {
            summary.addClass('selected');

            setTimeout(() => {
              if (breadcrumbs.children().length >= 2)
              {
                // If there are 2 or more breadcrumb items, remove it
                breadcrumbs.children().last().remove();
              }
            }, 200);
          }
          // If hash isn't summary && doesn't include 'field_search' (quick edit page)
          else if (newHash !== '#/summary' && !newHash.includes('field_search'))
          {
            summary.removeClass('selected');
            quickedit_item.removeClass('active selected');
            case_item.addClass('active selected');
            
            setTimeout(() => {
              if (breadcrumbs.children().length < 2)
              {
                breadcrumbs.append('<li class="breadcrumb-item"><a href="#/summary">Case Listings</a></li>');
              }
            }, 200);
          }
          // If hash isn't summary && includes 'field_search' (quick edit page)
          else if (newHash !== '#/summary' && newHash.includes('field_search'))
          {
            summary.removeClass('selected');
            case_item.removeClass('active selected');
            quickedit_item.addClass('active selected');

            setTimeout(() => {
              if (breadcrumbs.children().length < 2)
              {
                breadcrumbs.append('<li class="breadcrumb-item"><a href="#/summary">Case Listings</a></li>');
              }
            }, 100);
          }
        }
      }, 200);
    });
  </script>
}

<div id="form_content_id" class="app-content col"></div>
