@using System.Security.Claims;
@{
  Layout = "_LayoutBase";

  ViewBag.BreadCrumbs = true;
  ViewBag.Sidebar = true;
  
  var userName = "";

  if(User.Identity != null && User.Identity.IsAuthenticated)
  {
    userName = User.Identities.First(
    u => u.IsAuthenticated &&
    u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value;
  }

  var metadata_version = TempData["metadata_version"];
  var ui_role_mode = TempData["ui_role_mode"];
}

@section HeadScripts
{
  <link href="./styles/jquery/jquery.timepicker.css" type="text/css" rel="stylesheet" />
  <link href="./styles/jquery/jquery.datetimepicker.css" type="text/css" rel="stylesheet" />
  <link href="./styles/bootstrap/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" />
  <link href="./styles/bootstrap/jquery.bootstrap-touchspin.min.css" type="text/css" rel="stylesheet" />
  <link href="./styles/flatpickr/flatpickr.min.css" type="text/css" rel="stylesheet" />
  <link href="./styles/d3/c3.min.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="css/animate.css">

  <script src="/TemplatePackage/4.0/assets/vendor/js/bootstrap.min.js"></script>

  <script src="js/jquery.easing.min.js"></script>
  <script src="js/wow.js"></script>
  <script src="js/jquery.bxslider.min.js"></script>
  <script src="./scripts/jquery-ui.min.js"></script>
  <script src="./scripts/jquery/moment.js"></script>
  <script src="./scripts/jquery/jquery.timepicker.js"></script>
  <script src="./scripts/jquery/jquery.numeric.min.js" type="text/javascript"></script>
  <script src="./scripts/jquery/jquery.datetimepicker.js" type="text/javascript"></script>
  <script src="./scripts/bootstrap/bootstrap-datetimepicker.min.js"></script>
  <script src="./scripts/bootstrap/jquery.bootstrap-touchspin.min.js"></script>
  <script src="./scripts/flatpickr/flatpickr.js"></script>
  <script src="./scripts/esprima.js"></script>
  <script src="./scripts/escodegen.browser.js"></script>
  <script src="./scripts/mmria.js" type="text/javascript"></script>
  <script src="./scripts/d3/d3.min.js" type="text/javascript"></script>
  <script src="./scripts/d3/c3.min.js" type="text/javascript"></script>
  <script src="./scripts/metadata_summary.js" type="text/javascript"></script>
  <script src="./scripts/editor/navigation_renderer.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/app.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/boolean.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/chart.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/date.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/datetime.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/form.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/grid.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/group.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/hidden.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/jurisdiction.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/label.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/list.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/number.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/string.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/textarea.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer/time.js" type="text/javascript"></script>
  <script src="./scripts/editor/page_renderer.js" type="text/javascript"></script>
  <script src="./scripts/editor/apply_sort.js" type="text/javascript"></script>
  <script src="./scripts/create_default_object.js" type="text/javascript"></script>
  <script src="./scripts/url_monitor.js" type="text/javascript"></script>
  <script src="./api/version/@metadata_version/validation" type="text/javascript"> </script>
  <script src="/scripts/case/index.js" type="text/javascript"></script>
  <script src="/scripts/case/search_view.js" type="text/javascript"></script>
  <script src="/scripts/pdf-version/index.js" type="text/javascript"></script>

  @*
    jdewit Bootstrap Timepicker
    by jdewit
    https://github.com/jdewit/bootstrap-timepicker
  *@
  <link href="./styles/bootstrap/bootstrap-timepicker.css" rel="stylesheet" type="text/css">
  <script src="./scripts/bootstrap/bootstrap-timepicker.js"></script>

  @*
    Trumbowyg rich text editor for Case Narrative page
    by Alex D
    https://alex-d.github.io/Trumbowyg/
  *@
  <link rel="stylesheet" type="text/css" href="./styles/trumbowyg/trumbowyg.min.css">
  <script src="./scripts/trumbowyg/trumbowyg.min.js"></script>
  <script src="./scripts/trumbowyg/trumbowyg.colors.min.js"></script>
  <script src="./scripts/trumbowyg/trumbowyg.fontsize.min.js"></script>

   @*
    pdfMake and Roboto fonts - Need to get local
  *@
  <script src="/scripts/pdf-version/pdfmake.min.js"></script>
  <script src="/scripts/pdf-version/vfs_fonts.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/html-to-pdfmake/browser.js"></script>  

  @*
    chart.js - because D3 and C3 do not work for pdfs
  *@
  <script src="/scripts/pdf-version/chart.min.js" type="text/javascript"></script>
  
  @*
    Temporary script to see if print_pdf was loaded
  *@
  <script>
    $(document).ready( function() {
      if (typeof print_pdf === 'undefined' ) {
        console.log( '**** case print_pdf is undefined ****' );
      } else {
        console.log( '#### case print_pdf is defined ####' );
      }
   });
  </script>
}

@section Scripts
{
  @* <script>
    $('body').on('click', '#content-link', function(event) {
      var summary = $('#app_summary')[0];
      var tar = null;

      event.preventDefault();

      if (summary.style.display === 'block')
      {
        var tar = $('.content-intro[tabindex]');
        tar.focus();
      }
      else
      {
        var tar = $('.construct__body[tabindex]');
        
        setTimeout(() => {
          window.scrollTo(0,192); // scroll to top of page
        }, 0);
        tar.focus();
      }
    });


    $('#nav-link').show();
    $('body').on('click', '#nav-link', function() {
      var tar = $('#navigation[tabindex]');

      event.preventDefault();

      tar.focus();
    });
  </script> *@
}

<div id="form_content_id" class="app-content col"></div>

<div id="mmria_dialog" title="Confirm Locked Case" style="display:none;">
  <div class="modal-body">
    <p>The Case Record will be locked and no changes to the Case Record shall be permitted once the status is set to "Review Complete" OR "Out of Scope" OR "False Positive".</p>
  </div>
  <footer class="modal-footer">
    <button class="cancelLink btn btn-outline-secondary flex-order-2 m-0 ml-2" title="Cancel case lock">Cancel</button>
    <button class="confirmLink btn btn-primary flex-order-1 m-0" title="Confirm case lock">Continue & Lock Case</button>
  </footer>
</div>

@* <div id="mmria_dialog" title="Confirmation Required" style="z-index:10;display:none;background-color:silver;">

  Continue & Lock Case? <input type="button" class="confirmLink" value="Yes, lock case"/>
<br/>
Cancel? <input type="button" class="cancelLink" value="No, don't lock case" />
</div> *@