@using System.Security.Claims;
@{
    Layout = "_LayoutBase";

    ViewBag.BreadCrumbs = true;

    var is_cdc_admin = false;
    var is_abstractor = false;

    var userName = "";
  
    if (User.Identities.Any(u => u.IsAuthenticated))
    {
        userName = User.Identities.First(
        u => u.IsAuthenticated && 
        u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value;
    }

    foreach(var role in User.Identities.First(u => u.IsAuthenticated &&  u.HasClaim(c => c.Type == ClaimTypes.Name)).Claims.Where(c=> c.Type == ClaimTypes.Role))
    {
      switch(role.Value)
      {
        case "abstractor":
          is_abstractor = true;
          break;
        case "cdc_admin":
          is_cdc_admin = true;
          break;
      }
    }

    var BeginDate = "";
    var EndDate = "";

    if(DateTime.Now.DayOfWeek == DayOfWeek.Monday)
    {
        var friday = DateTime.Now.AddDays(-3);
        BeginDate = $"{friday.Year}-{friday.Month:00}-{friday.Day:00}";
        var yesterday = DateTime.Now.AddDays(-1);
        EndDate = $"{yesterday.Year}-{yesterday.Month:00}-{yesterday.Day:00}";
    }
    else
    {
        var yesterday = DateTime.Now.AddDays(-1);
        BeginDate = $"{yesterday.Year}-{yesterday.Month:00}-{yesterday.Day:00}";
        EndDate = $"{yesterday.Year}-{yesterday.Month:00}-{yesterday.Day:00}";
    }


}

@*@section HeadScripts
{
    <script src="../scripts/mmria.js" type="text/javascript"></script>
    <script src="../scripts/vitals/index.js" type="text/javascript"></script>
}
*@
<h1 class="h2 mb-4" tabindex="-1">STEVE - MMRIA Download</h1> <button class="btn btn-primary mt-3 d-none">Clear All TEST Data</button>

@* if(is_cdc_admin)
{
    <p><a id="clear_data">clear test data</a></p>
}*@

Begin Date<br/>
<input type="Date" value="@BeginDate"/><br/>
<br/>
End Date<br/>
<input type="Date" value="@EndDate"/><br/>
<br/>
STEVE Mailbox<br/>
<select>
<option>(Select Value)</option>
<option>Mortality</option>
<option>Fetal Death</option>
<option>Natality</option>
</select>
<br/><br/>
<input class="btn btn-primary" type="button" value="Start Download" />



