@using System.Security.Claims;
@{ 
    Layout = "_cdc_deidentified"; 
    var userName = "";

    if(User.Identity != null && User.Identity.IsAuthenticated)
    {
        userName = User.Identities.First(
        u => u.IsAuthenticated && 
        u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value;
    }
}

<script>
    var g_uid = '@userName';
</script>

<div id="form_content_id"></div>
