@using System.Security.Claims;
@{ 
    Layout = "_cdc_deidentified"; 
    var userName = "";

    if(User.Identity != null && User.Identity.IsAuthenticated)
    {
        userName = User.Identities.First(
        u => u.IsAuthenticated && 
        u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value;
    }
}

<style>

    #navbar2
    {
        overflow: hidden;
        /*background-color: #333;*/
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */

         margin-top: 155px;
    }

    #form_content_id
    {
        margin-top: 160px; /* Add a top margin to avoid content overlay */

    }
    
    select 
    {
            -webkit-appearance: menulist;
    }
</style>

<script>

    var g_uid = '@userName';

</script>


<div id="form_content_id"></div>

