body {
    font-family: Arial, Helvetica, sans-serif
}

button {
    background: transparent url(cancel.gif) no-repeat;
    border: 0;
    color: #444;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    height: 31px;
    margin: 7px 5px;
    width: 135px
}

button#continue {
    background: transparent url(submit.gif) no-repeat;
    color: #fff
}

button span {    
    line-height:25px;
}

h4 {
    padding-top: 5px;
}

#buttons {
    text-align: center
}

#fsrlogo {
    float: right
}

