<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
	<!--add key="owin:AppStartup" value="mmria.server.Startup" />
	<add key="geocode_api_key" value="" />
	<add key="couchdb_url" value="http://localhost:5984" />
	<add key="couchdb_url" value="http://db1.mmria.org" /-->


	<add key="wix_directory_path" value="C:\Program Files (x86)\WiX Toolset v3.11" />

		
	<add key="build_directory_path" value="C:\temp\wix" />
	<add key="input_directory_path" value="C:\temp\wix\input" />
	<add key="output_directory_path" value="C:\temp\wix\output" />
		
	<!--add key="mmria_server_binary_directory_path" value="C:\workspace\MMRDS\source-code\scratch\owin\owin\bin\Debug" />
	<add key="mmria_server_html_directory_path" value="C:\workspace\MMRDS\source-code\scratch\owin\owin\psk\app" />
	<add key="mmria_console_binary_directory_path" value="C:\workspace\MMRDS\source-code\scratch\owin\mmrds-importer\bin\Debug" / -->



	<add key="mmria_server_binary_directory_path"  value="C:\work-space\MMRDS\source-code\scratch\owin\owin\bin\Debug" />
	<add key="mmria_server_html_directory_path"    value="C:\work-space\MMRDS\source-code\scratch\owin\owin\psk\app" />
	<add key="mmria_console_binary_directory_path" value="C:\work-space\MMRDS\source-code\scratch\owin\mmrds-importer\bin\Debug" />

		
	</appSettings>

</configuration>
