body #footer.cdcFixedFooter {
  min-width: 800px;
  height: 75px;
  color: #404040;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  background: none;
}
body #footer.cdcFixedFooter a:focus {
  outline: 1px solid #ffa500;
}
body #footer.cdcFixedFooter .staticLinks {
  padding: 3px 8px;
  background: #e5e5e5;
}
body #footer.cdcFixedFooter .staticLinks .container ul {
  margin: 0;
  padding: 0;
}
body #footer.cdcFixedFooter .staticLinks .container ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-right: 40px;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
}
body #footer.cdcFixedFooter .staticLinks .container ul li a {
  color: #404040;
  text-decoration: none;
}
body #footer.cdcFixedFooter .staticLinks .container ul li a:hover {
  text-decoration: underline;
}
body #footer.cdcFixedFooter .staticLinks .container table tr td {
  padding: 0;
  padding-right: 40px;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
}
body #footer.cdcFixedFooter .staticLinks .container table tr td a {
  color: #404040;
  text-decoration: none;
}
body #footer.cdcFixedFooter .staticLinks .container table tr td a:hover {
  text-decoration: underline;
}
body #footer.cdcFixedFooter .staticContact {
  padding: 5px 5px 0 5px;
}
body #footer.cdcFixedFooter .staticContact .container address {
  font-style: normal;
  margin: 0;
}
body #footer.cdcFixedFooter .staticContact .container address br {
  display: none;
}
