/* TODO:
    - obviously, none of this is LESSified, so that'll have to happen some day.
        - This includes colors
    - I don't think the Glyphicons are included by default, and we may not want them to be; so timeline.less -> timeline.css for now
*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/TemplatePackage/3.0/fonts/glyphicons-halflings-regular.eot');
  src: url('/TemplatePackage/3.0/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/TemplatePackage/3.0/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/TemplatePackage/3.0/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/TemplatePackage/3.0/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon-record:before {
  content: "\e165";
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  float: left;
}
/* correct nested disc style */
ul ul,
ol ul {
  list-style-type: disc;
}
/* correct nested disc style */
ol ul ul,
ol ol ul {
  list-style-type: circle;
}
/* gray timeline bar */
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #f0f0f0;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
  width: 50%;
  float: left;
  clear: left;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 100%;
  float: left;
  border: 1px solid #B2B2B2;
  /* darker per flu */
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all border 0.2s ease-in-out ease-out;
  -moz-transition: all border 0.2s ease-in-out ease-out;
  -o-transition: all border 0.2s ease-in-out ease-out;
  transition: all border 0.2s ease-in-out ease-out;
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #B2B2B2;
  /* darker per flu */
  border-right: 0 solid #B2B2B2;
  /* darker per flu */
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
/* the target */
.timeline > li > .timeline-badge {
  color: #fff;
  width: 24px;
  height: 24px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 19px;
  right: -12px;
  z-index: 100;
}
.timeline > li > .timeline-badge > i {
  color: #B2B2B2;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-header {
  padding-left: 10px;
}
.timeline > li .timeline-footer {
  padding: 10px 15px;
  background-color: #f0f0f0;
}
.timeline > li .timeline-footer > a.more {
  float: right;
  width: auto!important;
}
.timeline > li.timeline-inverted {
  float: right;
  clear: right;
  margin-top: 30px;
  margin-bottom: 30px;
}
.timeline > li:nth-child(2) {
  margin-top: 60px;
}
.timeline > li.timeline-inverted > .timeline-badge {
  left: -12px;
}
.timeline-image {
  padding: 10px;
}
.timeline-body {
  margin: 10px;
}
.timeline-body .youtube div + div {
  margin: 10px;
}
.timeline-body .youtube {
  margin-left: -10px;
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* panel & iframe roughly 28 pixels smaller than the containing list item */
/*4*/
@media screen and (min-width: 1200px) {
  .span24 ul.timeline > li {
    width: 580px;
  }
  .span24 ul.timeline .timeline-body iframe {
    width: 552px !important;
  }
  .timeline > li > .timeline-panel {
    width: 552px;
  }
}
/*3*/
@media screen and (min-width: 980px) and (max-width: 1199px) {
  .span24 ul.timeline > li {
    width: 462px;
  }
  .span24 ul.timeline .timeline-body iframe {
    width: 435px !important;
  }
  .timeline > li > .timeline-panel {
    width: 435px;
  }
}
/*2*/
@media screen and (min-width: 768px) and (max-width: 979px) {
  .span24 ul.timeline > li {
    width: 354px;
  }
  .span24 ul.timeline .timeline-body iframe {
    width: 326px !important;
  }
  .timeline > li > .timeline-panel {
    width: 326px;
  }
}
/*1*/
@media screen and (max-width: 767px) {
  .span24 ul.timeline > li {
    width: 100%;
  }
  .span24 ul.timeline .timeline-body iframe {
    width: 100% !important;
  }
  .span24 ul.timeline .timeline-body .fb_iframe_widget iframe {
    width: 75% !important;
  }
  ul.timeline {
    padding: 0;
    margin: 0;
    margin-top: 30px;
    width: 100%;
  }
  ul.timeline:before {
    left: 12px;
  }
  ul.timeline > li {
    margin-bottom: 20px;
    position: relative;
    float: left;
    clear: left;
  }
  ul.timeline > li > .timeline-panel {
    left: 38px;
    top: -3px;
  }
  ul.timeline > li > .timeline-badge {
    left: 0;
    margin-left: 0;
    top: 15px;
  }
  ul.timeline > li > .timeline-panel {
    float: left!important;
    width: 90%;
  }
  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  .timeline > li.timeline-inverted {
    float: left;
    clear: left;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-badge {
    left: 0;
  }
}
