@{
    ViewData["Title"] = "Home Page";
}

@using mmria_pmss_client.Pages;

<component type="typeof(mmria_pmss_client.Pages.ViewData)" render-mode="WebAssemblyPrerendered" />

<script src="_framework/blazor.webassembly.js"></script>


<!--div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div-->
