@using System.Security.Claims;
@{
  Layout = "_LayoutBase";
  var userName = "";
  if (User.Identities.Any(u => u.IsAuthenticated))
  {
    userName = User.Identities.First(
        u => u.IsAuthenticated && 
        u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value;
  }
}

@section HeadScripts {
  <script src="../scripts/mmria.js" type="text/javascript"></script>
  <script src="../scripts/metadata-listing/dictionary_renderer.js" type="text/javascript"></script>
  <script src="../scripts/create_default_object.js" type="text/javascript"></script>
  <script src="../scripts/url_monitor.js" type="text/javascript"></script>
  <script src="../scripts/metadata-listing/index.js" type="text/javascript"></script>
  <script>
    var g_uid = '@userName';
  </script>
}

<h1 class="h2">Metadata Listing</h1>
<p class="mb-4">This webpage lists, describes, and defines the properties of all fields contained within the MMRIA application database. The metadata webpage is useful for determining field characteristics such as field types and field values. Note that the metadata “name” fields do not correspond to the column names created when you conduct a data export. The data dictionary, including the column names of your exported data, can be found in the exported data file titled “data_dictionary”. This file was previously named “field_mapping”.</p>

<div id="page_content_id">
  <div id="navigation_id"></div>

  <table class="table">
    <thead class="thead">
      <tr class="tr bg-secondary">
        <th class="th" colspan="99">mmria mmria app (ned) app</th>
      </tr>
    </thead>
    <tbody class="tbody">
      <tr class="tr">
        <td class="td">
          <table class="table mb-0">
            <thead class="thead">
              <tr class="tr bg-tertiary">
                <th class="th font-weight-normal" colspan="99">
                  <strong>MMRIA Form Name:</strong> birth_fetal_death_certificate_parent
                  <br>
                  <strong>MMRIA Path:</strong> birth_fetal_death_certificate_parent/demographic_of_mother/If_mother_not_married_has_paternity_acknowledgement_been_signed_in_the_hospital
                </th>
              </tr>
            </thead>
            <thead class="thead">
              <tr class="tr bg-gray-l3">
                <th class="th">Export File Name</th>
                <th class="th">Export Field Name</th>
                <th class="th">Field Label</th>
                <th class="th">Data Type</th>
                <th class="th">Calculated</th>
              </tr>
            </thead>
            <tbody>
              <tr class="tr">
                <td class="td">lorem_ipsum_sit_dolor_amet</td>
                <td class="td">hrcpr_bcp_secti</td>
                <td class="td">date_created</td>
                <td class="td">date</td>
                <td class="td">True</td>
              </tr>
              <tr class="tr">
                <td class="td p-0" colspan="99">
                  <table class="table table--plain mb-0">
                    <thead class="thead">
                      <tr class="tr bg-gray-l3">
                        <th class="th w-75">Data Description</th>
                        <th class="th">Response Options</th>
                      </tr>
                    </thead>
                    <tbody class="tbody">
                      <tr class="tr">
                        <td class="td">First Name</td>
                        <td class="td p-0">
                          <div style="max-height: 300px; overflow: auto;">
                            <table class="table table--plain mb-0">
                              <thead class="thead">
                                <tr class="tr bg-gray-l3">
                                  <th class="th">Value</th>
                                  <th class="th">Descriptions</th>
                                </tr>
                              </thead>
                              <tbody class="tbody">
                                <tr class="tr">
                                  <td class="td">9999</td>
                                  <td class="td">(blank)</td>
                                </tr>
                                <tr class="tr">
                                  <td class="td">1</td>
                                  <td class="td">2</td>
                                </tr>
                                <tr class="tr">
                                  <td class="td">3</td>
                                  <td class="td">3</td>
                                </tr>
                                <tr class="tr">
                                  <td class="td">4</td>
                                  <td class="td">4</td>
                                </tr>
                                <tr class="tr">
                                  <td class="td">5</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </td>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>

      <tr class="tr">
        <td class="td">
          <table class="table mb-0">
            <thead class="thead">
              <tr class="tr bg-tertiary">
                <th class="th font-weight-normal" colspan="99">
                  <strong>MMRIA Form Name:</strong> birth_fetal_death_certificate_parent
                  <br>
                  <strong>MMRIA Path:</strong> birth_fetal_death_certificate_parent/demographic_of_mother/If_mother_not_married_has_paternity_acknowledgement_been_signed_in_the_hospital
                </th>
              </tr>
            </thead>
            <thead class="thead">
              <tr class="tr bg-gray-l3">
                <th class="th">Export File Name</th>
                <th class="th">Export Field Name</th>
                <th class="th">Field Label</th>
                <th class="th">Data Type</th>
                <th class="th">Calculated</th>
              </tr>
            </thead>
            <tbody>
              <tr class="tr">
                <td class="td">lorem_ipsum_sit_dolor_amet</td>
                <td class="td">hrcpr_bcp_secti</td>
                <td class="td">date_created</td>
                <td class="td">date</td>
                <td class="td">True</td>
              </tr>
              <tr class="tr">
                <td class="td p-0" colspan="99">
                  <table class="table table--plain mb-0">
                    <thead class="thead">
                      <tr class="tr bg-gray-l3">
                        <th class="th w-75">Data Description</th>
                        <th class="th">Response Options</th>
                      </tr>
                    </thead>
                    <tbody class="tbody">
                      <tr class="tr">
                        <td class="td">This field will only be completed if the case was created in versions of MMRIA prior to November 2019. Committee determination of expected impact level if recommendation were implemented. Small: education/counseling (community- and/or provider-based health promotion and education activities). Medium: clinical intervention and coordination of care across continuum of well-woman visits (protocols, prescriptions) Large: long-lasting protective intervention (improve readiness, recognition and response to obstetric emergencies/LARC) Extra large: change in context (promote environments that support healthy living/ensure available and accessible services) Giant: address social determinants of health (poverty, inequality, etc.) In November 2019, this field was merged into the contributing factors grid to prompt committees to align recommendations with the identified contributing factors.</td>
                        <td class="td p-0">
                          <div style="max-height: 300px; overflow: auto;">
                            <table class="table table--plain mb-0">
                              <thead class="thead">
                                <tr class="tr bg-gray-l3">
                                  <th class="th">Value</th>
                                  <th class="th">Descriptions</th>
                                </tr>
                              </thead>
                              <tbody class="tbody">
                                <tr class="tr">
                                  <td class="td">9999</td>
                                  <td class="td">(blank)</td>
                                </tr>
                                <tr class="tr">
                                  <td class="td">1</td>
                                  <td class="td">Fertility Enhancing Drugs, Artificial Insemination or Intrauterine Insemination</td>
                                </tr>
                                <tr class="tr">
                                  <td class="td">1</td>
                                  <td class="td">Assisted Reproductive Technology (e.g. in vitro fertilization (IVF), gamete intrafallopian transfer (GIFT))</td>
                                </tr>
                                <tr class="tr">
                                  <td class="td">1</td>
                                  <td class="td">Fertility Enhancing Drugs, Artificial Insemination or Intrauterine Insemination</td>
                                </tr>
                                <tr class="tr">
                                  <td class="td">1</td>
                                  <td class="td">Assisted Reproductive Technology (e.g. in vitro fertilization (IVF), gamete intrafallopian transfer (GIFT))</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </td>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div id="form_content_id"></div>

</div>