@using System.Security.Claims;
@{
  Layout = "_LayoutBase";

  ViewBag.BreadCrumbs = true;
  ViewBag.Title = "Data Summary Checks";
  
  var userName = "";
  
  if (User.Identities.Any(u => u.IsAuthenticated))
  {
    userName = User.Identities.First(
        u => u.IsAuthenticated && 
        u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value;
  }
}

@section HeadScripts
{
  <script src="../scripts/mmria.js" type="text/javascript"></script>
  <script src="../scripts/view-data-summary/renderer.js" type="text/javascript"></script>

  <script src="../scripts/view-data-summary/index.js" type="text/javascript"></script>

}

<h1 class="h2 no-print" tabindex="-1">MMRIA Data Summary Checks</h1>
<p class="mb-4 no-print">View data summary checks for selected MMRIA fields only.<br/>This summary report is intended as a tool to support MMRIA users with data quality assurance checks. It is not designed to replace analyses performed using the MMRIA export. Due to different specifications, numbers presented in this summary report may differ from the MMRIA Data Quality Report.<br/> Please click the "Apply Filters" button after specifying search criteria.</p>

<span class="spinner-container spinner-content spinner-active">
  <span class="spinner-body text-primary">
    <span class="spinner"></span>
    <span class="spinner-info">Loading...</span>
  </span>
</span>

<div id="form_content_id"></div>
