@using System.Security.Claims;
@{
  Layout = "_LayoutBase";

  ViewBag.BreadCrumbs = true;

  var userName = "";

  if (User.Identities.Any(u => u.IsAuthenticated))
  {
    userName = User.Identities.First(
        u => u.IsAuthenticated && 
        u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value;
  }
}

@section Scripts
{  
  <script>
    const container = $('.spinner-replace');

    function iframe_loaded() {
      container.show();
    }
  </script>
}

<h1 class="h2">Overdose Data Summary</h1>

<span class="spinner-container spinner-content spinner-active">
  <span class="spinner-body text-primary">
    <span class="spinner"></span>
    <span class="spinner-info">Loading...</span>
  </span>
</span>

<div class="spinner-replace ratio-16-9" style="display: none;">
  <iframe
    class="content p-0"
    src="https://app.powerbigov.us/reportEmbed?reportId=9724a1ec-5ed9-423a-9283-49c5d09b18e6&autoAuth=true&ctid=6fcbbe36-3b86-450c-9c5e-1a17a5cd4988&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWdvdi12aXJnaW5pYS1yZWRpcmVjdC5hbmFseXNpcy51c2dvdmNsb3VkYXBpLm5ldC8ifQ%3D%3D"
    frameborder="0"
    allowFullScreen="true"
    onload="init_content_loader(iframe_loaded)"></iframe> 
</div>
