@charset "UTF-8";
/* CSS Document */

* {
	font-family: 'Work Sans', sans-serif;
}
body {
	margin: 0px;
	padding: 0px;
}

/*FONTS*/
@import 'https://fonts.googleapis.com/css?family=Work+Sans:400,500,700';

/*TYPOGRAPHY*/
strong {
	font-weight: 700;
	letter-spacing: 1px;
}
p {
	font-weight: 400;
}
p.intro {
	text-align: center;
	font-size: 15px;
}
p.result {
	font-size: 14px;
	font-weight: 500;
	float: left;
}
.header_wrapper p {
	font-size: 12px;
	text-align: right;
	margin: 5px;
}
h2 {
	color: rebeccapurple;
	font-weight: 400;
	font-size: 36px;
	text-align: center;
}

h7 {
   color: black;
   font-weight: 400;
   	display: table-cell;
	padding-left: 75px;
padding-right: 875px;


}


h8 {
   color: black;
   font-weight: 400;
   	display: block;
	overflow: auto;
	padding-left: 75px;
padding-right: 75px;
padding: 30px;

}

h9 {
	 	display: block;
	overflow: auto;
	padding-left: 15px;
padding-right: 15px;



}

.box {
	word-wrap: break-word;
  margin: 0 auto;
  width: 1101px; 
  height: inherit;
  white-space: pre-wrap;
  padding: 70px;
  line-height: 300%;
  box-sizing: border-box;
}

fieldset {
   
  
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
}


ul.nav {
	list-style-type: none;
}
.nav li {
	float: left;
	margin-bottom: 9px;
	margin-right: 80px;
}
.nav a {
	color: #545c68;
	font-size: 14px;
	text-decoration: none;
	font-weight: 500;
}
a.active {
	border-bottom: 4px solid #e24944;
	padding-bottom: 6px;
}
.nav a:hover {
	border-bottom: 4px solid #acb4bc;
	padding-bottom: 6px;
}

/*BUTTONS*/
.btn-green img {
	max-height: 20px;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 10px;
}
.btn-green {
	background: #48ceb9;
	border-radius: 25px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	padding: 10px 15px;
}
.btn-light-purple {
	background: #a088e4;
	border-radius: 25px;
	color: #fff;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	padding: 7px 15px;
	display: block;
	margin-top: 4px;
	margin-left: 14px;
}
.btn-purple {
	background: #341c54;
	border-radius: 25px;
	color: #fff;
	font-size: 12px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	padding: 7px 15px;
	margin-left: 40px;
}
.btn-green:hover {
	background: #40b7a4;
}
.btn-purple:hover {
	background: #522c84;
}
.btn-light-purple:hover {
	background: #8a77c3;
}
/*ICONS*/

.icon img {
	max-width:70%;
	max-height:70%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	display:block;
	padding-top:10px;
}
.icon {
height:80px;
width:80px;
border-radius:50px;
float:left;
margin-right:15px;
}

.red {
background:#e24944;
}
.purple {
background:#341C54;
}
.green {
background:#48ceb9;
}

/*MISC*/
.header_wrapper {
	background: #341c54;
	padding: 20px;
	overflow: auto;
	color: #fff;
}
.nav_wrapper {
	background: #fff;
	overflow: auto;
	-webkit-box-shadow: 0 2px 5px 0 #acb4bc;
	box-shadow: 0 2px 5px 0 #acb4bc;
	position: relative;
	z-index: 70;
}
.search_wrapper {
	background: #fff;
	padding: 25px;
}
.result_wrapper_grey {
	display: block;
	overflow: auto;
	background: #f2f5f8;
	padding-left: 40px;
}
.result_wrapper {
	display: block;
	overflow: auto;
	padding-left: 40px;
}
.welcome_wrapper {
	background: #f2f5f8;
	padding: 25px;
	overflow: auto;
	-webkit-box-shadow: 0 2px 5px 0 #acb4bc;
	box-shadow: 0 2px 5px 0 #acb4bc;
	position: relative;
	z-index: 60;
}
.footer_wrapper {
	margin-top: 10px;
	bottom: 0px;
	background: #acb4bc;
	text-align: center;
	padding: 40px;
	font-size: 12px;
}
.user-info, .login {
	float: right;
}


/*
https://webdesign.tutsplus.com/articles/quick-tip-tooltips-courtesy-of-html5-data-attributes--webdesign-4826
*/

.tooltip {
    position: relative;
    display: inline-block;
    cursor: help;
    white-space: nowrap;
    border-bottom: 1px dotted #777;
}

.tooltip-content {
    opacity: 0;
    visibility: hidden;     
    font: 12px Arial, Helvetica;
    text-align: center;
    border-color: #aaa #555 #555 #aaa;
    border-style: solid;
    border-width: 1px;
    width: 150px;
    padding: 15px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -76px;    
    background-color: #fff;
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(255,255,255,0));     
    box-shadow: 1px 1px 0 #555,
                2px 2px 0 #555,
                3px 3px 1px rgba(0, 0, 0, .3),
                0   1px 0   rgba(255,255,255, .5) inset;                    
    transition: bottom .2s ease, opacity .2s ease;                  
    }
    
.tooltip-content:after,
.tooltip-content:before {
    border-right: 16px solid transparent;
    border-top: 15px solid #fff;
    bottom: -15px;
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -10px;
}

.tooltip-content:before {
    border-right-width: 25px;
    border-top-color: #555;
    border-top-width: 15px;
    bottom: -15px;
}

.tooltip:hover .tooltip-content{
    opacity: .75;
    visibility: visible;
    bottom: 30px;       
}

.failed-validation {
	background-color: #ffcccc;
}


.selected-for-delete
{
	background-color: #777777;
}
/*
.group { float:left; }

.string { clear:both; }
.number { clear:both;; }
.date { clear:both; }
.time { clear:both; }
.list { clear:both; }
.group { clear:both; }
.form { clear:both; }
*/

section .form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}