@using System.Security.Claims;
@model mmria.common.couchdb.ConfigurationSet
@{ 
    Layout = "_LayoutBase";
    ViewBag.BreadCrumbs = true;
    var userName = "";

    if(User.Identity != null && User.Identity.IsAuthenticated)
    {
        userName = User.Identities.First(
        u => u.IsAuthenticated && 
        u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value;
    }
}

<h1 class="h2" tabindex="-1">Clear Case Status</h1>
<p class="mb-4">Select database and enter the Record ID. Click the button to search for matching case(s).</p>

<form method="post" action="/clear_case_status/FindRecord">
    <div class="d-flex align-items-center form-group">
        <label for="StateDatabase" class="d-block text-right mb-0 mr-3" style="width: 156px">Select Site Database:</label>
        <select id="StateDatabase" class="form-control w-auto" name="StateDatabase">
            <option value="">Select Database</option>
            @foreach (var item in Model.detail_list)
            {
                <option value="@item.Key">@item.Key</option>
            }
        </select>
    </div>

    <div class="d-flex align-items-center form-group">
        <label for="RecordId" class="d-block text-right mb-0 mr-3" style="width: 156px">Record ID:</label>
        <input id="RecordId" class="form-control w-auto" type="text" name="RecordId" value="" />
    </div>

    <div class="d-flex align-items-center form-group">
        <span class="d-block mr-3" style="width: 156px">&nbsp;</span>
        <input class="btn btn-primary w-auto" type="Submit" value="Find Matching Cases" />
    </div>
</form>

@*<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="The Maternal Mortality Review Information App (MMRIA) is a public health software tool created to collect, store, analyze and summarize information relevant to maternal deaths. The MMRIA serves 2 purposes: first to provide complete, detailed, and organized medical and social information that can be used by medical review committees to investigate individual maternal deaths; and second to provide a standardized cumulative database for future research and analysis on maternal mortality.">
<title>Maternal Mortality Review Information App | Public Health | MMRIA</title>
</head>
<body>
<a href="/home">home</a><br/>
Clear Case Status


<br/><br/>
<h3>Search for your record by record_id</h3><br/><br/>
<form method="post" action="/clear_case_status/FindRecord">
<table>
    <tr>
        <td align="right">Select Site Database:</td>
    <td>
        <select name="StateDatabase">
        @foreach (var item in Model.detail_list)
        {
            <option>@item.Key</option>
        }
        </select>
    </td>
</tr>
<tr>
    <td align="right">Enter Record_Id Search Text:</td>
    <td>
        <input type="text" name="RecordId" value="" />
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <input type="Submit" value="Find matching cases" />
        </td>
    </tr>
</table>
</form>

<br/>
  <a href="/home">home</a><br/>
<br/>
</body>
</html>*@
