@using System.Security.Claims;
@model mmria.common.couchdb.ConfigurationSet
@{ 
    Layout = "_LayoutBase";
    ViewBag.BreadCrumbs = true;
    var userName = "";

    if(User.Identity != null && User.Identity.IsAuthenticated)
    {
        userName = User.Identities.First(
        u => u.IsAuthenticated && 
        u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value;
    }

    var SortedDictionary  = new SortedDictionary<string, mmria.common.couchdb.DBConfigurationDetail>();
    foreach(var kvp in Model.detail_list)
    {
        SortedDictionary.Add(kvp.Key, kvp.Value);
    }
}

<h1 class="h2" tabindex="-1">Unlock and Clear Case Status</h1>

<p class="mb-4">Select database and enter the Record ID. Click the button to search for matching case(s).</p>

<form method="post" action="/clear_case_status/FindRecord">
    <div class="d-flex align-items-center form-group">
        <label for="StateDatabase" class="d-block text-right mb-0 mr-3" style="width: 156px">MMRIA Site:</label>
        <select id="StateDatabase" class="form-control w-auto" name="StateDatabase">
            <option value="">Select site</option>
            @foreach (var item in SortedDictionary)
            {
                <option value="@item.Key">@item.Key</option>
            }
        </select>
    </div>

    <div class="d-flex align-items-center form-group">
        <label for="RecordId" class="d-block text-right mb-0 mr-3" style="width: 156px">MMRIA Record ID:</label>
        <input id="RecordId" class="form-control w-auto" type="text" name="RecordId" value="" />
    </div>

    <div class="d-flex align-items-center form-group">
        <span class="d-block mr-3" style="width: 156px">&nbsp;</span>
        <input class="btn btn-primary w-auto" type="Submit" value="Find Matching Cases" />
    </div>
</form>
