/*
    GLOBAL OVERRIDES
*/

.form-control {
    outline: none;
}


.silent-list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
.silent-list li + li {
    margin-left: 8px;
}

.theme-purple .btn-primary {
    background-color: #712177;
}

.site-title {
    position: sticky; /* Progressive enhancement */
    top: -1px; /* 'sticky' when top becomes the value */
    z-index: 1;
}

.util {
    font-size: 85%;
    list-style-type: none;
    margin-bottom: 0;
}
.util-item {
    margin-bottom: 0;
}
.util-item + .util-item  {
    margin-left: 15px;
}

.app-content {
    background-color: #F5F5F5;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    padding-top: 32px;
    width: calc(100% - 40px);
}

.form-nav {
    background-color: #FFFFFF;
    padding-bottom: 8px;
    padding-top: 8px;
    position: relative;
    z-index: 0;
}
.form-nav .btn-outline-secondary {
    border-color: #ced4da;
}

.data-collector-nav button {
    margin-bottom: 5px;
    width: 100%;
}

.data-collector-header .btn + .btn,
.data-collector-footer .btn + .btn {
    margin-left: 5px;
}

.data-collector-body {
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: gray;
    min-height: 100vh;
    overflow-y: scroll;
    padding: 20px;
    width: 100%;
}

.data-collector-output {
    position: relative;
}

.data-collector-header {
    margin-bottom: 15px;
}

.data-collector-footer {
    margin-bottom: 15px;
}
.data-collector-body + .data-collector-footer {
    margin-top:24px;
}

.form-type {
    font-size: 1.25rem;
    margin-top: 0;
}

.form-tag {
    font-size: 21px;
    font-weight: 700;
}

.form-title {
    color: #712177;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
}
.form-info + .form-title {
    margin-top: 4px;
}

.form-info {
    margin-bottom: 0;
}
.form-title + .form-info {
    margin-top: 15px;
}

.input-wrap {
    position: relative;
}

.input-wrap .input-icon {
    right: 6px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}






/*
    Form styles for anything inside of data-collector output
*/

.data-collector-output [type="text"] {
    background-color: #FFFFFF;
    border: 2px solid;
    border-color: #BBBBBB;
    border-radius: 4px;
    padding: 6px 12px;
    transition: border-color 75ms ease-in;
}
.data-collector-output [type="text"]:focus {
    border-color: #712177;
    transition: border-color 125ms ease-out;
}

.data-collector-output fieldset {
    border: 1px solid;
    border-color: #BBBBBB;
    padding: 8px 15px;
}

.data-collector-output legend {
    display: inline-block;
    font-size: 1.25rem !important;
    padding-bottom: 6px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    width: auto;
}

.data-collector-output label {
    line-height: 16px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 15px;
}

.data-collector-output table {
    border-collapse: collapse;
}
